<html xmlns:th="http://www.thymeleaf.org">
<span>ID sẽ tăng tự động khi một Loại đơn hàng được tạo mới. Vui lòng không nhập ID!</span>
<form id="frmOrdersConfiguration" th:action="@{/orders-configuration/save}" method="post">
	<div id="tblOrderConfiguration"></div>
	<button type="submit" class="btn btn-primary save-orders-configuration">Save</button>
	<!-- Message: auto hide -->
    <div id="success-alert" class="alert alert-success" style="display: none">
       <button type="button" class="close" data-dismiss="alert">x</button>
       <strong>Success! </strong> Saved.
    </div>
</form>