<html xmlns:th="http://www.thymeleaf.org">
<form id="frmOrdersConfigurationStatus" th:action="@{/orders-configuration/load-statuses}" method="get">
	<div id="tblOrderConfigurationStatus"></div>
	<button type="submit" class="btn btn-primary save-orders-configurations-statuses">Save</button>
	<!-- Message: auto hide -->
    <div id="success-alert" class="alert alert-success" style="display: none">
       <button type="button" class="close" data-dismiss="alert">x</button>
       <strong>Success! </strong> Saved.
    </div>
</form>