
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<style>
.content-body {
	width: 70%; /* Đặt chiều rộng cho phần tử */
	margin: 10px auto 3px auto;
	border: 1px solid #333; /* Đường gạch dọc bên trái */
	border-radius: 20px;
}

.crm-container {
	background-color: #FFDEDE;
	border-left: groove 1px #333;
	border-right: groove 1px #333;
	border-radius: 20px;
	padding: 20px;
	padding-bottom: 0px;
	overflow: hidden;
	margin-top: -30px;
	margin-bottom: 30px;
}

.img {
	border-radius: 20px;
}

.crm-title {
	font-size: 2.2rem;
	font-weight: bold;
	color: #1d4ed8;
}

.crm-description {
	margin-bottom: 20px;
}

.icon-wrapper {
	font-size: 2rem;
	margin-bottom: 10px;
}

.feature-card {
	background-color: #ffffff;
	border-radius: 20px;
	padding: 20px;
	transition: transform 0.2s;
}

.feature-card:hover {
	transform: translateY(-5px);
}

.learn-more {
	color: #1d4ed8;
	text-decoration: none;
	font-weight: bold;
}

.learn-more:hover {
	text-decoration: underline;
}
</style>

<div class="content-body">
	<!-- Content 1 CRM -->
	<div id="section1" class="container mt-5 ">
		<div class="crm-container">
			<div class="row">
				<!-- Khung bên trái để chèn ảnh -->
				<div class="col-md-4 image-wrapper">
					<h1 class="crm-title"></h1>
					<br> <img src="resources/Image/crm01.png" alt="imageCRM"
						class="img-fluid img"><br>
					<p class="crm-description">Làm chủ bộ công cụ Quản lý & Chăm
						sóc khách hàng toàn diện</p>
				</div>

				<!-- Khung nội dung bên phải -->
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-6 col-lg-6 mb-2">
							<div class="feature-card ">
								<div class="icon-wrapper text-center">👤</div>
								<h5 class="text-center">Quản lý danh sách khách hàng</h5>
								<p class="text-center">Nắm bắt toàn bộ thông tin về khách
									hàng, lịch sử giao dịch, tương tác, giá trị hợp đồng,.. duy
									nhất trên 1 nền tảng</p>
								<a href="#" class=" learn-more">Xem ngay →</a>
							</div>
						</div>

						<div class="col-md-6 col-lg-6 mb-2">
							<div class="feature-card">
								<div class="icon-wrapper text-center">🗺️</div>
								<h5 class="text-center">Quản lý hành trình khách hàng</h5>
								<p class="text-center">Xây dựng hành trình trải nghiệm khách
									hàng từ lúc tiếp nhận đến chăm sóc Trước - Trong - Sau bán.</p>
								<a href="#" class="learn-more">Xem ngay →</a>
							</div>
						</div>

						<div class="col-md-6 col-lg-6 mb-2">
							<div class="feature-card ">
								<div class="icon-wrapper text-center">📊</div>
								<h5 class="text-center">Đo lường tỷ lệ chuyển đổi</h5>
								<p class="text-center">Ghi nhận khả năng và hiệu quả chuyển
									đổi từ các kênh khác nhau</p>
								<a href="#" class="learn-more">Xem ngay →</a>
							</div>
						</div>

						<div class="col-md-6 col-lg-6 mb-2">
							<div class="feature-card ">
								<div class="icon-wrapper text-center">🌐</div>
								<h5 class="text-center">Social CRM</h5>
								<p class="text-center">Tích hợp các kênh bán hàng trên mạng
									xã hội (Fanpage & Zalo OA) với hệ thống CRM, lưu trữ và quản lý
									thông tin khách hàng</p>
								<a href="#" class="learn-more">Xem ngay →</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Content 2 Quản lý mua hàng-->
	<div id="section1" class="container mt-5 ">
		<div class="crm-container " style="background-color: #307690">
			<div class="row">
				<!-- Khung bên trái để chèn ảnh -->
				<div class="col-md-8 ">

					<div class="row">
						<div class="col-md-6 col-lg-6 mb-2">
							<div class="feature-card ">
								<div class="icon-wrapper text-center">👤</div>
								<h5 class="text-center">Theo dõi đơn hàng</h5>
								<p class="text-center">Nắm bắt trạng thái từng đơn hàng, từ
									tạo mới đến hoàn thành, giúp bạn quản lý dễ dàng và chính
									xác...</p>
								<a href="#" class=" learn-more">Xem ngay →</a>
							</div>
						</div>

						<div class="col-md-6 col-lg-6 mb-2">
							<div class="feature-card">
								<div class="icon-wrapper text-center">🗺️</div>
								<h5 class="text-center">Quản lý nhà cung cấp</h5>
								<p class="text-center">Lưu trữ thông tin, giao dịch và lịch
									sử hợp tác với nhà cung cấp trên một nền tảng duy nhất...</p>
								<a href="#" class="learn-more">Xem ngay →</a>
							</div>
						</div>

						<div class="col-md-6 col-lg-6 mb-2">
							<div class="feature-card ">
								<div class="icon-wrapper text-center">📊</div>
								<h5 class="text-center">Kiểm soát chi phí</h5>
								<p class="text-center">Theo dõi và phân tích chi phí, đảm
									bảo hiệu quả tài chính trong hoạt động mua hàng...</p>
								<a href="#" class="learn-more">Xem ngay →</a>
							</div>
						</div>

						<div class="col-md-6 col-lg-6 mb-2">
							<div class="feature-card ">
								<div class="icon-wrapper text-center">🌐</div>
								<h5 class="text-center">Tích hợp quy trình</h5>
								<p class="text-center">Kết nối chặt chẽ với các bộ phận như
									kho hàng, kế toán, giúp đồng bộ hóa dữ liệu nhanh chóng...</p>
								<a href="#" class="learn-more">Xem ngay →</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Khung nội dung bên phải -->
				<div class="col-md-4 image-wrapper">
					<h1 class="crm-title" style="color: #FFF">Quản Lý Mua Hàng
					</h1>
					<img src="resources/Image/crm03.jpg" alt="imageCRM"
						class="img-fluid img"><br>
					<p class="crm-description" style="color: #FFF">Làm chủ bộ công
						cụ Quản lý & Chăm sóc khách hàng toàn diện</p>
				</div>


			</div>
		</div>
	</div>

	<!-- Content 3 Chăm sóc khách hàng-->
	<div id="section1" class="container mt-5 ">
		<div class="crm-container" style="background-color: #ECEAE4">
			<div class="row">
				<!-- Khung bên trái để chèn ảnh -->
				<div class="col-md-4 image-wrapper">
					<h1 class="crm-title">Chăm sóc khách hàng chuyên nghiệp</h1>
					<img src="resources/Image/crm02.png" alt="imageCRM"
						class="img-fluid img">
					<p class="crm-description">Làm chủ bộ công cụ Quản lý & Chăm
						sóc khách hàng toàn diện</p>
				</div>

				<!-- Khung nội dung bên phải -->
				<div class="col-md-8">

					<div class="row">
						<div class="col-md-6 col-lg-6 mb-2">
							<div class="feature-card ">
								<div class="icon-wrapper text-center">👤</div>
								<h5 class="text-center">Quản lý thông tin khách hàng</h5>
								<p class="text-center">Tích hợp và lưu trữ chi tiết thông
									tin khách hàng, giúp hiểu rõ nhu cầu và tối ưu hóa trải
									nghiệm...</p>
								<a href="#" class=" learn-more">Xem ngay →</a>
							</div>
						</div>

						<div class="col-md-6 col-lg-6 mb-2">
							<div class="feature-card">
								<div class="icon-wrapper text-center">🗺️</div>
								<h5 class="text-center">Hỗ trợ đa kênh</h5>
								<p class="text-center">Kết nối qua email, điện thoại, mạng
									xã hội và live chat, đảm bảo tương tác mọi lúc, mọi nơi...</p>
								<a href="#" class="learn-more">Xem ngay →</a>
							</div>
						</div>

						<div class="col-md-6 col-lg-6 mb-2">
							<div class="feature-card ">
								<div class="icon-wrapper text-center">📊</div>
								<h5 class="text-center">Theo dõi lịch sử tương tác</h5>
								<p class="text-center">Dễ dàng tra cứu và quản lý lịch sử
									giao tiếp để duy trì mối quan hệ chặt chẽ...</p>
								<a href="#" class="learn-more">Xem ngay →</a>
							</div>
						</div>

						<div class="col-md-6 col-lg-6 mb-2">
							<div class="feature-card ">
								<div class="icon-wrapper text-center">🌐</div>
								<h5 class="text-center">Tự động hóa quy trình</h5>
								<p class="text-center">Gửi thông báo, email chăm sóc và
									chương trình ưu đãi theo lịch trình được thiết lập trước..</p>
								<a href="#" class="learn-more">Xem ngay →</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Content 4  KPI-->
	<div id="section1" class="container mt-5 ">
		<div class="crm-container " style="background-color: #F5EBA1">
			<div class="row">
				<!-- Khung bên trái để chèn ảnh -->
				<div class="col-md-8 ">

					<div class="row">
						<div class="col-md-6 col-lg-6 mb-2">
							<div class="feature-card ">
								<div class="icon-wrapper text-center">👤</div>
								<h5 class="text-center">Theo dõi tiến độ</h5>
								<p class="text-end">Đặt mục tiêu cụ thể, theo dõi tiến độ
									công việc và hiệu suất theo thời gian thực...</p>
								<a href="#" class=" learn-more">Xem ngay →</a>
							</div>
						</div>

						<div class="col-md-6 col-lg-6 mb-2">
							<div class="feature-card">
								<div class="icon-wrapper text-center">🗺️</div>
								<h5 class="text-center">Phân tích hiệu quả</h5>
								<p class="text-center">Đánh giá hiệu quả làm việc của từng
									nhân viên hoặc phòng ban qua báo cáo KPI chi tiết...</p>
								<a href="#" class="learn-more">Xem ngay →</a>
							</div>
						</div>

						<div class="col-md-6 col-lg-6 mb-2">
							<div class="feature-card ">
								<div class="icon-wrapper text-center">📊</div>
								<h5 class="text-center">Cải thiện chiến lược</h5>
								<p class="text-center">Cung cấp dữ liệu để điều chỉnh kế
									hoạch, đảm bảo mục tiêu đạt được một cách tối ưu...</p>
								<a href="#" class="learn-more">Xem ngay →</a>
							</div>
						</div>

						<div class="col-md-6 col-lg-6 mb-2">
							<div class="feature-card ">
								<div class="icon-wrapper text-center">🌐</div>
								<h5 class="text-center">Tích hợp quy trình</h5>
								<p class="text-center">Kết nối liền mạch với hệ thống CRM để
									đo lường tác động trực tiếp đến hiệu quả kinh doanh...</p>
								<a href="#" class="learn-more">Xem ngay →</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Khung nội dung bên phải -->
				<div class="col-md-4 image-wrapper">
					<h1 class="crm-title" style="color: #000">Quản lý KPI hiệu quả</h1>
					<img src="resources/Image/crm04.png" alt="imageCRM"
						class="img-fluid img"><br>
					<p class="crm-description" style="color: #000">Thiết lập 10 báo
						cáo thông kê KPI, đo lường hiệu quả hoạt động toàn doanh nghiệp</p>
				</div>


			</div>
		</div>
	</div>

</div>

<section class="container my-5">
	<div id="thumbnailCarousel" class="carousel slide"
		data-bs-ride="carousel">
		<div class="carousel-inner text-center">
			<div class="carousel-item active">
				<div class="row">
					<div class="col-md-4">
						<img src="resources/Image/11.jpg" alt="Thumbnail 1"
							class="img-fluid" width="300">
						<h5>Title 2222</h5>
						<p>Description 1</p>
					</div>
					<div class="col-md-4">
						<img src="resources/Image/12.png" alt="Thumbnail 2"
							class="img-fluid" width="300">
						<h5>Title 2</h5>
						<p>Description 2</p>
					</div>
					<div class="col-md-4">
						<img src="resources/Image/13.jpg" alt="Thumbnail 3"
							class="img-fluid" width="300">
						<h5>Title 3</h5>
						<p>Description 3</p>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="row">
					<div class="col-md-4">
						<img src="resources/Image/14.jpg" alt="Thumbnail 5"
							class="img-fluid" width="300">
						<h5>Title 5</h5>
						<p>Description 5</p>
					</div>
					<div class="col-md-4">
						<img src="resources/Image/15.png" alt="Thumbnail 6"
							class="img-fluid" width="300">
						<h5>Title 6</h5>
						<p>Description 6</p>
					</div>
					<div class="col-md-4">
						<img src="resources/Image/16.png" alt="Thumbnail 7"
							class="img-fluid" width="300">
						<h5>Title 7</h5>
						<p>Description 7</p>
					</div>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev btn-sm bg-success" type="button"
			data-bs-target="#thumbnailCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon text-white"
				aria-hidden="true"></span> <span class="visually-hidden text-white">Previous</span>
		</button>
		<button class="carousel-control-next btn-sm bg-success" type="button"
			data-bs-target="#thumbnailCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon text-white"
				aria-hidden="true"></span> <span class="visually-hidden text-white">Next</span>
		</button>

	</div>
</section>