<section class="container my-5">
		<div id="thumbnailCarousel" class="carousel slide"
			data-bs-ride="carousel">
			<div class="carousel-inner text-center">
				<div class="carousel-item active">
					<div class="row">
						<div class="col-md-4">
							<img src="resources/Image/11.jpg" alt="Thumbnail 1"
								class="img-fluid" width="300">
							<h5>Title 2222</h5>
							<p>Description 1</p>
						</div>
						<div class="col-md-4">
							<img src="resources/Image/12.png" alt="Thumbnail 2"
								class="img-fluid" width="300">
							<h5>Title 2</h5>
							<p>Description 2</p>
						</div>
						<div class="col-md-4">
							<img src="resources/Image/13.jpg" alt="Thumbnail 3"
								class="img-fluid" width="300">
							<h5>Title 3</h5>
							<p>Description 3</p>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row">
						<div class="col-md-4">
							<img src="resources/Image/14.jpg" alt="Thumbnail 5"
								class="img-fluid" width="300">
							<h5>Title 5</h5>
							<p>Description 5</p>
						</div>
						<div class="col-md-4">
							<img src="resources/Image/15.png" alt="Thumbnail 6"
								class="img-fluid" width="300">
							<h5>Title 6</h5>
							<p>Description 6</p>
						</div>
						<div class="col-md-4">
							<img src="resources/Image/16.png" alt="Thumbnail 7"
								class="img-fluid" width="300">
							<h5>Title 7</h5>
							<p>Description 7</p>
						</div>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev btn-sm bg-success" type="button"
				data-bs-target="#thumbnailCarousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon text-white"
					aria-hidden="true"></span> <span class="visually-hidden text-white">Previous</span>
			</button>
			<button class="carousel-control-next btn-sm bg-success" type="button"
				data-bs-target="#thumbnailCarousel" data-bs-slide="next">
				<span class="carousel-control-next-icon text-white"
					aria-hidden="true"></span> <span class="visually-hidden text-white">Next</span>
			</button>

		</div>
	</section>