<footer
          class="text-center text-lg-start text-dark"
          style="background-color: #ECEFF1"
          >
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-between p-4 text-white"
             style="background-color: #21D192"
             >
      <!-- Left -->
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="text-white mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white mx-2">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white mx-2">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white mx-2">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Company name</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              Luôn trân quý niềm tin của khách hàng đặt vào chúng tôi 
              Thiết lập quy trình chăm sóc khách hàng chuyên nghiệp đồng thời duy trì 
              được mối quan hệ lâu dài của doanh nghiệp và khách hàng
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-start">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold"> Tiên Ích </h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="http://localhost:8080/crm-web/feedback" class="text-dark">Chính Sách</a>
            </p>
            <p>
              <a href="http://localhost:8080/crm-web/feedback" class="text-dark">Giới thiệu tính năng</a>
            </p>
            <p>
              <a href="http://localhost:8080/crm-web/Pricing" class="text-dark">Báo giá</a>
            </p>
            <p>
              <a href="http://localhost:8080/crm-web/feedback" class="text-dark">Phản hồi</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-start">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i>1 Võ văn Ngân</p>
            <p><i class="fas fa-envelope mr-3"></i>Crm@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i>+ 365 807 229</p>
            <p><i class="fas fa-print mr-3"></i>+ 901 000 148</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2020 Copyright:
      <a class="text-dark" href="http://localhost:8080/crm-web/">
          CRM
         </a>
    </div>
    <!-- Copyright -->
  </footer>