<header class="bg-light text-dark rounded-pill px-2 mb-5">
	<div class="flex-col">
		<div class="container text-center pt-2">
			<h1 class="display-4 fw-bold pt-5">Quản lý khách hàng toàn
				diện</h1>
			<p class="lead">Nâng cao năng suất, đơn giản hóa quy trình và
				phát triển doanh nghiệp của bạn với CRM.</p>
			<a href="#" class="btn btn-primary btn-lg">Dùng thử ngay</a>
		</div>
		<div class="container text-center">
			<img src="resources/Image/intro.png" alt="CRM Banner" class="img-fluid rounded">
		</div>
	</div>

</header>