<html xmlns:th="http://www.thymeleaf.org">

<!-- <script th:inline="javascript">
	var dataSetCustomerCare = /*[[${dataSetCustomerCare}]]*/'[]'; // Thymeleaf sẽ thay thế ${dataSet} bằng dữ liệu thực tế
</script>
 -->
<table id="tblDatatableCustomerCare" style="width: 100%" class="table table-striped table-bordered file-export">
	<!-- Truyền dataSet vào JavaScript -->
	<thead>
		<tr>
			<th>ID CusCare</th>
			<th>Hành động</th>
			<th>Tên công ty</th>
			<th>Người liên hệ</th>
			<th>Trạng thái chính</th>
			<th>Chi tiết tương tác</th>
			<th>Độ ưu tiên</th>
			<th>Tình trạng chăm sóc</th>
			<th>Thực hiện chăm sóc</th>
			<th>Ngày nhắc nhở</th>
		</tr> 
	</thead>
	
	<tbody>

	</tbody>

</table>
</html>
