@charset "UTF-8";

.restoreHidedCustomerbtn{
	font-size: 16px;
    padding: 8px 15px;
    background-color: #f7ec88;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.restoreHidedCustomerbtn:hover{
	background-color: #d2c67d;
}
