#chat-assistant {
	position: fixed;
	bottom: 110px;
	right: 30px;
	width: 460px;
	background-color: #f0f8f0;
	border-radius: 10px;
	overflow: hidden;
	z-index: 10;
}

.chat-body{
	margin-bottom: 60px;
	overflow-y: auto;
    max-height: 300px;
    overflow-y: auto;  
    padding-right: 10px;
    scroll-behavior: smooth; 
}

/* Tùy chỉnh thanh cuộn */
.chat-body::-webkit-scrollbar {
    width: 6px; /* Độ rộng thanh cuộn */
}

.chat-body::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #ffcc00, #ff6600); /* Màu gradient */
    border-radius: 10px;
}

.chat-body::-webkit-scrollbar-track {
    background: #f0f0f0; /* Màu nền của thanh cuộn */
    border-radius: 10px;
}

.bg-light.p-2.rounded{
	margin-bottom: 20px;
}

#chat-button {
	position: fixed;
	bottom: 20px;
	right: 30px;
	font-size: 18px;
	z-index: 10;
	/* background-color: #d5a6f5 !important */
}

.img-chatbot{
	width: 50px; 
    height: 60px;
}
/* Tab Styles */
.chat-tabs {
	display: flex;
	border-bottom: 1px solid #ccc;
}

.tab-btn {
	flex: 1;
	padding: 5px 0;
	background-color: #e9ecef;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	margin: 0 5px;
}

.tab-btn.active {
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	transform: translateY(2px);
	background-color: #4fcf95;
}

.tab-btn:hover {
	background-color: #d4d9dd;
	transform: translateY(-3px);
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

.click-here {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

.modal-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 1000;
	width: 95%;
	max-height: 80%;
	overflow-y: auto;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f0f0f0;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.modal-title {
	font-weight: bold;
}

.modal-buttons .modal-btn {
	margin-left: 5px;
	padding: 5px 10px;
	border: none;
	background-color: #007bff;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}

.modal-btn:hover {
	background-color: #0056b3;
}

.modal-content {
	padding: 15px;
}

.minimized {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 200px;
	height: 40px;
	overflow: hidden;
	cursor: pointer;
}

.care-button {
	position: relative;
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background-color: #52B788;
	border: none;
	border-radius: 50px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.5s ease, transform 0.2s ease, box-shadow
		0.2s ease;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}

.care-button .icon {
	position: absolute;
	left: 0px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-image:
		url('https://media.istockphoto.com/id/1330766185/vi/vec-to/bi%E1%BB%83u-t%C6%B0%E1%BB%A3ng-gi%E1%BB%AF-ch%C3%A2n-kh%C3%A1ch-h%C3%A0ng-d%E1%BB%8Bch-v%E1%BB%A5-ch%C4%83m-s%C3%B3c-kh%C3%A1ch-h%C3%A0ng-ng%C6%B0%E1%BB%9Di-c%C3%B3-bi%E1%BB%83u-t%C6%B0%E1%BB%A3ng-b%C3%A0n-tay.jpg?s=612x612&w=0&k=20&c=EEqUglMlEMECZ_S8ZT-KwR6e2fxXOWbSBlouATc6ra0=');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	transition: transform 0.5s ease, background-color 0.5s ease;
	border: solid 3px #3db85e;
}

.care-button .text {
	margin-left: 50px;
	transition: transform 0.5s ease, color 0.5s ease;
}

.care-button:hover {
	background-color: #40916c;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-3px);
}

.care-button:hover .icon {
	transform: translateX(120px);
}

.care-button:hover .text {
	color: 'white';
	transform: translateX(-60px);
	font-weight: 600;
}

.meet-button {
	margin-top: 10px;
	position: relative;
	display: inline-flex;
	white-space: nowrap;
	align-items: center;
	padding: 10px 20px;
	background-color: #4F81BD;
	border: none;
	border-radius: 50px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.5s ease, transform 0.2s ease, box-shadow
		0.2s ease;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}

.meet-button .icon {
	position: absolute;
	left: 0px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-image:
		url('https://media.istockphoto.com/id/940783490/vector/calendar-and-clock-icon.jpg?s=612x612&w=0&k=20&c=6Qkj9UwZRyj8cD5eYxUMzdAJnz1VuxSF3aC_JAa8-qk=');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	transition: transform 0.5s ease, background-color 0.5s ease;
	border: solid 3px #3d56b8;
	background-color: 'white';
}

.meet-button .text {
	margin-left: 50px;
	transition: transform 0.5s ease, color 0.5s ease;
}

.meet-button:hover {
	background-color: #3A6BA3;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-3px);
}

.meet-button:hover .icon {
	transform: translateX(150px);
}

.meet-button:hover .text {
	color: 'white';
	transform: translateX(-60px);
	font-weight: 600;
}

/* td.company-name:hover { */
/* 	color: #1261A6 !important; */
/* 	transition: color 0.3s ease !important; */
/* } */

.company-name-column:hover{
	color: #1261A6 !important;
	transition: color 0.3s ease !important;
	cursor: pointer;
}

.table-striped th, .table-striped td {
	vertical-align: middle !important;
}

.badge {
	background-color: #d3d3d3;
	color: #333;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

input[type="radio"]:checked+label {
	background-color: #d3d3d3;
	color: #333;
}

/* .radio-badge-group input[type="radio"] { */
/* 	display: none;  */
/* } */

input[type="radio"]:checked+label.badge-danger {
	background-color: #dc3545;
	color: #fff;
}

input[type="radio"]:checked+label.badge-warning {
	background-color: #ffc107;
	color: #fff;
}

input[type="radio"]:checked+label.badge-primary {
	background-color: #007bff;
	color: #fff;
}

#customerTable tbody tr td {
	justify-content: center !important;
}

.badge-default {
   	background-color: #aaaaaa;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.badge-danger {
    background-color: #dc3545;
    color: white;
}

.badge-warning {
    color: black;
    background-color: #ff8000 !important;
}

.badge-primary {
    background-color: #007bff;
    color: white;
}

.btn-group-customer-care {
    display: flex;
    gap: 8px;
}

.btn-group-customer-care button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
}

.btn-group-customer-care button:hover {
    background-color: #0056b3;
}

.btn-group-customer-care button:nth-child(2) {
    background-color: #dc3545;
}

.btn-group-customer-care button:nth-child(2):hover {
    background-color: #b02a37;
}

.chat-alert {
    position: relative;
    animation: shake 0.5s infinite alternate;
}

.chat-alert::after {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0 0 5px red;
}

@keyframes shake {
    0% { transform: translateX(-3px); }
    100% { transform: translateX(3px); }
}

.chat-box {
    position: fixed;
    bottom: 110px;
    right: 20px;
    width: 280px;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    padding: 12px;
    font-family: Arial, sans-serif;
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
    animation: shake 0.5s infinite alternate;
}

/* Khi có cảnh báo, chat-box sẽ hiển thị với hiệu ứng mượt */
#chat-button.chat-alert + .chat-box {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/* Tiêu đề chat */
.chat-header {
    font-weight: bold;
    font-size: 16px;
    color: #007bff;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

/* Nội dung tin nhắn */
.alert-message {
    background: linear-gradient(135deg, #ffcc00, #ff6600);
  	padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    animation: fadeIn 0.5s ease-in-out;
}

/* Thêm icon cảnh báo */
.alert-message::before {
    font-size: 18px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* #chat-button.chat-alert {
    background: linear-gradient(135deg, #ff4b2b, #ff416c);
    color: white;
    border: none;
    box-shadow: 0 0 10px rgba(255, 65, 108, 0.6);
    transition: all 0.3s ease-in-out;
} */

@keyframes pulse {
    0% { box-shadow: 0 0 10px rgba(255, 65, 108, 0.6); }
    50% { box-shadow: 0 0 20px rgba(255, 65, 108, 0.9); }
    100% { box-shadow: 0 0 10px rgba(255, 65, 108, 0.6); }
}

/* #chat-button.chat-alert {
    animation: pulse 1.5s infinite;
} */

