.cover {
    position: relative;
    padding: 0px 30px;
    margin-top: 10px;
}

.left, .right {
    position: absolute;
    width: 40px; /* Đường kính của nút */
    height: 40px; /* Đường kính của nút */
    background-color: #967ADC; /* Màu nền của nút */
    border-radius: 50%; /* Tạo hình dạng tròn */
    display: flex; /* Để căn giữa nội dung */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
    cursor: pointer; /* Thay đổi con trỏ khi hover */
    color: white; /* Màu chữ */
    font-size: 20px; /* Kích thước chữ */
    border: none; /* Không có viền */
    transition: background-color 0.3s; /* Hiệu ứng chuyển màu nền khi hover */
}

.left::before {
    content: '←'; /* Dấu mũi tên trái */
    font-size: 20px; /* Kích thước mũi tên */
}

.right::before {
    content: '→'; /* Dấu mũi tên phải */
    font-size: 20px; /* Kích thước mũi tên */
}

.left:hover, .right:hover {
    background-color: #8451C1; /* Thay đổi màu khi hover */
}

.left {
    left: 0px;
    top: 72%;
    transform: translateY(-50%);
    z-index: 10;
}

.right {
    right: 820px;
    top: 72%;
    transform: translateY(-50%);
    z-index: 10;
}

.scroll-images {
    position: relative;
    width: calc(100vw - 1070px);
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin: 5px 10px;
}

.child {
	cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: white!important;
    align-items: center;
    padding: 0px 10px;
    margin: 1px 5px;
    border: 1px solid #f1f1f1;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);;
    box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);;
    border-radius: 7px;
    min-width: fit-content;
    position: relative;
    height: 40px;
}

.child h4{
	color: white;
	margin: 0
}

.child img {
    position: absolute;
    margin-top: -195px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    background: #03A9F4;
}

.scroll-images::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
}

.scroll-images::-webkit-scrollbar-thumb {
    background-color: black;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
}

.count-badge {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 20px;
    padding: 2px 8px;
    margin-left: 10px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.all-customers-btn{
	background-color: #967ADC;
	width: fit-content;
	margin: 5px 15px;
}

.child.selected {
/*     border: 3px solid #FFF; Viền đậm hơn cho trạng thái đã chọn */
/*     box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.6); Thêm hiệu ứng đổ bóng */
	border: 3px solid yellow;
    box-shadow: 0px 0px 10px yellow;
}