<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">

	<!-- START COMMON META AND TITLE -->
	<th:block th:include="fragments/common_meta_title"></th:block>
	<!-- END COMMON META AND TITLE -->

	<!-- START COMMON CSS -->
	<th:block th:include="fragments/common_css"></th:block>
	<!-- END COMMON CSS -->

	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/new_style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/customerDetail.css}" />
	<link type="text/css" rel="stylesheet" href="/library/webjars/handsontable/handsontable.full.min.css" />
	<script th:inline="javascript" src="/library/webjars/handsontable/handsontable.full.min.js"></script>
	<script>
		console.log("Handsontable:", typeof Handsontable);
	</script>
	
	<th:block th:include="fragments/head"></th:block>
</head>

<body>
<!-- 	class="vertical-layout vertical-compact-menu 2-columns menu-expanded fixed-navbar" data-open="click" -->
<!-- 	data-menu="vertical-compact-menu" data-col="2-columns" -->

	<!-- BEGIN HEADER  -->
	<th:block th:include="fragments/hmenu"></th:block>
	<!-- END HEADER  -->

	<!-- BEGIN LEFT MENU NAVIGATION -->
	<!-- <th:block th:include="fragments/leftNavCRM"></th:block> -->
	<!-- END LEFT MENU NAVIGATION -->

	<!--  BEGIN CONTENT -->
	<div class="app-content content">
		<div class="content-wrapper">
			<div class="content-header row">
				<div class="content-header-left col-md-6 col-12 mb-2">
					<h3 class="content-header-title">Khách hàng</h3>
					<div class="row breadcrumbs-top">
						<div class="breadcrumb-wrapper col-12">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Khách hàng</a></li>
								<li class="breadcrumb-item active">Chi tiết khách hàng</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="content-header-right col-md-6 col-12">
					<!-- Outline buttons with Icons -->
					
					<fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
						<button id="openEmailModal" data-customer-id="${customer.id}" data-customer-email="${customer.email}" type="button" class="mr-1 mb-1 btn btn-outline-primary btn-min-width"><i class="fa fa-envelope-o"></i> Gửi Email</button>
					</fieldset>
				</div>
				
				<div class="email-overlay" id="emailOverlay"></div>
				
				<!-- Modal Gửi Email -->
				<th:block th:include="fragments/email/frg_sendEmailModal_CustomerDetail"></th:block>
									    
			  <div id="detailEmailModal" class="detail-email-modal">
		        	<div class="detail-email-modal-content">
		        		<span class="close">&times;</span>
	     						<h2>Chi tiết Email</h2>
	     						<p hidden><strong>ID:</strong> <span id="detailEmailID"></span></p>
	     						<p><strong>Từ:</strong> <span id="detailEmailFrom"></span></p>
	     						<p><strong>Đến:</strong> <span id="detailEmailTo"></span></p>
	     						<p><strong>Chủ đề:</strong> <span id="detailEmailSubject"></span></p>
				        <p><strong>Thời gian:</strong> <span id="detailEmailTime"></span></p>
				        <p><strong>Trạng thái:</strong> <span id="detailEmailStatus"></span></p>
				        <hr>
				        <p><strong>Nội dung:</strong></p>
				        <div id="detailEmailContent"></div>
				        <button id="closeDetailEmailModal">Đóng</button>
		        	</div>
			     </div>
			</div>

			<div class="container">
				<!-- Left panel -->
				<div class="left-panel">
					<div class="user-info">
						<div class="user-avatar">
							<img th:src="@{/resources/app-assets/images/portrait/small/avatar-s-10.png}" alt="User Avatar">
						</div>
						<div class="user-details">
							<h2 th:text="${customer.companyName}"></h2>
							
							<div class="overviewInformation" style="line-height: 2; margin-bottom: 10px;">
							  <i class="fa fa-map-marker"></i>
							  <p th:text="${customer.address}" style="display: inline; margin: 0;"></p>
							</div>
							
							<div class="overviewInformation" style="line-height: 2; margin-bottom: 10px;	">
							  <i class="fa fa-volume-control-phone"></i>
							  <p th:text="${customer.phone}" style="display: inline; margin: 0;"></p>
							</div>
							
							<div class="overviewInformation" style="line-height: 2; margin-bottom: 10px; display: inline-flex; white-space: nowrap;">
							  <i class="fa fa-envelope-open"></i>
							  <p th:text="${customer.email}" style="display: inline-flex; margin-top: -6px; margin-left: 5px"></p>
							</div>
							
						</div>
					</div>

					<div class="actions">
						<a th:href="@{newEditCustomer(id=${customer.id})}" >
						    <button type="button"
						    	style="cursor: pointer;">
						    <i class="icon-pencil"></i> Edit
						    </button>
						</a>
						<button style="cursor: pointer; background: #DA4453" th:onclick="'hideCustomer(' + ${customer.id} + ')'">Hide</button>
						<button type="button" data-bs-toggle="modal" data-bs-target="#myModal">Edit Interaction</button>
					</div>
<!-- 					<div class="relationship-section"> -->
<!-- 						<label for="relationship">Trạng thái:</label> -->
<!-- 						<ul> -->
<!-- 							<li th:each="status : ${customer.mainStatus}" -->
<!-- 								th:text="${status.name}"></li> -->
<!-- 						</ul> -->
<!-- 					</div> -->
					<div class="person-in-charge">
						<p>
					        <span class="label-bold">Nhân viên phụ trách:</span>
					        <span th:text="${customer.responsiblePerson != null ? customer.responsiblePerson.name : 'Chưa có'}"></span>
					    </p>
<!-- 						<select id="person-in-charge"> -->
<!-- 							<option value="">Chọn Người Phụ Trách</option> -->
<!-- 							<th:block th:each="person : ${responsiblePersons}"> -->
<!-- 								<option th:value="${person.id}" th:text="${person.name}" -->
<!-- 									th:selected="${person.id == customer.responsiblePerson.id}"> -->
<!-- 								</option> -->
<!-- 							</th:block> -->
<!-- 						</select> -->
					</div>

<!-- 					<div class="creation-info"> -->
<!-- 						<p> -->
<!-- 					        <span class="label-bold">Ngày tạo:</span> -->
<!-- 					        <span th:text="${customer.createdAt}"></span> -->
<!-- 					    </p> -->
<!-- 						<p><span class="label-bold">Người tạo:</span> Nguyễn Hoàng Phương Ngân</p> -->
<!-- 						<p><span class="label-bold">Đã mua:</span> 0 lần</p> -->
<!-- 					</div> -->
					
				<div class="relative-list-btn">
				    <div class="btn-group mr-1 mb-1 drop-down">
				        <button type="button" class="btn btn-outline-dark btn-min-width dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
				           	Related Lists
				        </button>
				        <div class="dropdown-menu">
				            <span class="dropdown-item" data-target="common-info">Overview</span>
				            <span class="dropdown-item" data-target="email-to-customer">Email</span>
				            <span class="dropdown-item" data-target="comments-section">Internal exchange</span>
				            <div class="dropdown-divider"></div>
				            <a class="dropdown-item">Separated link</a>
				        </div>
				    </div>
				</div>

				</div>

				<!-- Right panel -->
				<div class="right-container">
					<div class="common-info" id="common-info">						
						<div class="card-header">
							<h3 class="card-title" style="padding-left: 20px; color: #0288d1;">THÔNG TIN CHI TIẾT</h3>
						</div>
						<div class="card shadow profile-card d-flex flex-row justify-content-between p-3" style="display: flex; gap: 20px; flex-wrap: wrap;">
							<ul class="list-group list-group-flush" style="flex: 1;">
								<li class="list-group-item"><strong>Tên công ty:</strong> CTY ABC</li>
								<li class="list-group-item"><strong>Người liên hệ chính:</strong> Nguyễn Văn A</li>
		                        <li class="list-group-item"><strong>Email:</strong> nguyenvana@example.com</li>
		                        <li class="list-group-item"><strong>Số điện thoại:</strong> 0123 456 789</li>
		                        <li class="list-group-item"><strong>Địa chỉ:</strong> 123 Đường ABC, Quận 1, TP.HCM</li>
		                        <li class="list-group-item"><strong>Ngành nghề:</strong> Kinh doanh</li>
		                        <li class="list-group-item"><strong>Trạng thái chính:</strong> Mới</li>
		                        <li class="list-group-item"><strong>Trạng thái phụ:</strong> Mới cập nhật</li>
		                        <li class="list-group-item"><strong>Người phụ trách:</strong> Nguyễn Trọng Minh</li>
		                        <li class="list-group-item"><strong>Ghi chú:</strong> </li>
	                    	</ul>
	                    </div>
	                    
	                     <!-- Progress bar bên phải -->
					      <div class="card shadow progress-card" style="flex: 1; padding: 20px;">
					        <h5 style="margin-bottom: 16px; color: #0288d1;">Tiến độ xử lý</h5>
					
					        <div class="progress-block">
					          <label>Tỷ lệ giao dịch thành công</label>
					          <div class="progress-bar">
					            <div class="progress-fill" style="width: 30%;">30%</div>
					          </div>
					        </div>
					
					        <div class="progress-block">
					          <label>Mức độ tương tác</label>
					          <div class="progress-bar">
					            <div class="progress-fill" style="width: 60%;">60%</div>
					          </div>
					        </div>
					
<!-- 					        <div class="progress-block"> -->
<!-- 					          <label>Ký hợp đồng</label> -->
<!-- 					          <div class="progress-bar"> -->
<!-- 					            <div class="progress-fill" style="width: 90%;">90%</div> -->
<!-- 					          </div> -->
<!-- 					        </div> -->
					      </div>
					</div>
					
					<div class="common-info" id="common-info">						
						<div class="card-header">
							<h3 class="card-title" style="padding-left: 20px; color: #0288d1;">LỊCH SỬ CHUYỂN ĐỔI TRẠNG THÁI</h3>
						</div>
						<div class="table-wrapper">
					        <table class="status-history-table">
					            <thead>
									<tr>
										<th class="stage-header">Giai đoạn</th>
										<th class="new-header">New</th>
										<th class="potential-header">Potential</th>
										<th class="converted-header">Converted</th>
										<th class="leave-header">Leave</th>
										<th class="back-header">Back</th>
									</tr>
								</thead>
					            <tbody>
					            <tr th:each="entry : ${statusHistoryByStage}">
					                <td th:text="'Giai đoạn ' + ${entry.key}"></td>
					                <td th:text="${entry.value['New']} ?: '-'"></td>
					                <td th:text="${entry.value['Potential']} ?: '-'"></td>
					                <td th:text="${entry.value['Converted']} ?: '-'"></td>
					                <td th:text="${entry.value['Leave']} ?: '-'"></td>
					                <td th:text="${entry.value['Back']} ?: '-'"></td>
					            </tr>
					            </tbody>
					        </table>
						</div>
					</div>
					
					<div class="email-to-customer" id="email-to-customer">
						<div class="card-header">
							<h3 class="card-title" style="padding-left: 20px; color: #0288d1;">EMAIL</h3>
						</div>
						
						<div class="card-body">
							<ul class="nav nav-tabs nav-iconfall nav-justified" id="tab-icon-fall-drag">
								<li class="nav-item">
									<a class="nav-link active" id="activeIcon32-tab1" data-toggle="tab" aria-controls="activeIcon32" aria-expanded="true"><i class="fa fa-envelope-o"></i> Letter</a>
								</li>
								
								<li class="nav-item">
									<a class="nav-link" id="linkIcon32-tab1" data-toggle="tab" aria-controls="linkIcon32" aria-expanded="false"><i class="fa fa-file-o"></i> Draft</a>
								</li>
							</ul>
						</div>
						
						<div class="table-responsive" id="table-letter" style="padding: 10px">
		                    <table class="table">
		                        <thead>
		                            <tr>
		                                <th data-field="select" class="th1">
											<input type="checkbox" id="select-all" class="d-flex align-items-center justify-content-center" />
										</th>
		                                <th>Chủ đề</th>
		                                <th>Ngày gửi</th>
		                                <th>Được gửi bởi</th>
		                            </tr>
		                        </thead>
		                        <tbody id="email-list">
		                        
		                        </tbody>
		                    </table>
		                </div>
				        
				        <div class="table-responsive" id="table-draft" style="padding: 10px">
		                    <table class="table mb-0">
		                        <thead>
		                            <tr>
		                                <th>Firstname</th>
		                                <th>Lastname</th>
		                                <th>Email</th>
		                                <th>Password</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                            <tr>
		                                <td>John</td>
		                                <td>Doe</td>
		                                <td>john@example.com</td>
		                                <td>********</td>
		                            </tr>
		                            <tr>
		                                <td>Mary</td>
		                                <td>Moe</td>
		                                <td>mary@example.com</td>
		                                <td>*****</td>
		                            </tr>
		                            <tr>
		                                <td>July</td>
		                                <td>Dooley</td>
		                                <td>july@example.com</td>
		                                <td>**********</td>
		                            </tr>
		                            <tr>
		                                <td>Piter</td>
		                                <td>pan</td>
		                                <td>july@example.com</td>
		                                <td>********</td>
		                            </tr>
		                        </tbody>
		                    </table>
		                </div> 
					</div>
					
					<div class="right-panel">
					<div class="comments-section" id="comments-section">
						<h3	style="color: #0288d1;">TRAO ĐỔI</h3>

						 Comment 1
						<div class="comment">
							<div class="comment-avatar">
								<img
									th:src="@{/resources/app-assets/images/portrait/small/avatar-s-10.png}"
									alt="Comment Avatar">
							</div>
							<div class="comment-body">
								<div class="comment-header">Nguyễn Thế Thành</div>
								<div class="comment-time">9/8/2024 10:00</div>
								<p>Hi Ngân, Mình đã xác nhận lại đơn hàng với khách</p>
							</div>
						</div>

						Comment 2
						<div class="comment">
							<div class="comment-avatar">
								<img
									th:src="@{/resources/app-assets/images/portrait/small/avatar-s-11.png}"
									alt="Comment Avatar">

							</div>
							<div class="comment-body">
								<div class="comment-header">Nguyễn Hoàng Phương Ngân</div>
								<div class="comment-time">9/8/2024 9:00</div>
								<p>Tạo mới khách hàng</p>
							</div>
						</div>
					</div>

					<div class="comment-input">
						<h3>Thêm phản hồi</h3>
						<textarea placeholder="Nhập phản hồi..."></textarea>
						<button>Gửi</button>
					</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<th:block th:replace="~{fragments/frg_Modal_Interaction :: modalFragment('myModal')}"></th:block>

	<!-- END CONTENT -->

	<!-- START CUSTOMIZE BUTTON -->
	<th:block th:include="fragments/customizeButton"></th:block>
	<!-- END CUSTOMIZE BUTTON -->

	<!-- START COMMON JAVASCRIPT -->
	<th:block th:include="fragments/common_javascript"></th:block>
	<!-- END COMMON JAVASCRIPT -->
	
	<th:block th:include="fragments/frg_ModalConfirmation"></th:block>
	
	<script type="text/javascript" th:src="@{/resources/js/interaction/interaction.js}"></script>
	<!-- <script type="text/javascript" th:src="@{/resources/js/interaction/interaction-save.js}"></script> -->

	<!-- PHẦN CHỈNH SỬA KHI HỆ THỐNG ASSETS TRÊN INTERNET BỊ LỖI -->
	<!-- FILE JS BỔ SUNG -->
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/navigate.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/deleteCustomer.js}" defer></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/customerDetail.js}" defer></script>
	
</body>

</html>