<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- COMMON META AND TITLE -->
    <th:block th:include="fragments/common_meta_title"></th:block>

    <!-- HEAD FRAGMENT -->
    <th:block th:include="fragments/head"></th:block>

    <!-- COMMON CSS -->
    <th:block th:include="fragments/common_css"></th:block>

    <!-- PAGE-SPECIFIC CSS -->
    <link rel="stylesheet" th:href="@{/resources/css/new_style.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/status.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/buttonGroupFunction.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/buttonRestoreHidedCustomers.css}" />

	<!-- Intro.js CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intro.js/minified/introjs.min.css" />
	<!-- Intro.js JS -->
	<script src="https://cdn.jsdelivr.net/npm/intro.js/minified/intro.min.js"></script>
</head>
<!-- class="vertical-layout vertical-compact-menu menu-expanded fixed-navbar" Bỏ khoảng trống ở dòng bên trái, dòng này đặt ngay dưới "<body" -->
<body>
<!-- 	class="fixed-navbar" data-open="click" data-menu="vertical-compact-menu" data-col="1-columns" -->


	<!-- BEGIN HEADER  -->
	 <th:block th:include="fragments/hmenu"></th:block>
	<!-- END HEADER  -->
	
	<!-- BEGIN LEFT MENU NAVIGATION -->
	
	<!-- END LEFT MENU NAVIGATION -->

    <!-- Center form -->
    <th:block th:include="fragments/frg_customerListCRMScreen"></th:block>

	<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
		<span th:text="${errorMessage}"></span>
	</div>

	<!-- START CUSTOMIZE BUTTON -->
	<th:block th:include="fragments/customizeButton"></th:block>
	<!-- END CUSTOMIZE BUTTON -->

	<!-- START COMMON JAVASCRIPT -->
	<th:block th:include="fragments/common_javascript"></th:block>
	<!-- END COMMON JAVASCRIPT -->

	<!-- PHẦN CHỈNH SỬA KHI HỆ THỐNG ASSETS TRÊN INTERNET BỊ LỖI -->
	<!-- FILE JS BỔ SUNG -->
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/introTour.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/navigate.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/status.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/search.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/fetchCustomersByStatus.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/customerList_JS.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/customerList_Pagination.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/toggleCheckboxActions.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/addCustomer.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/buttonGroupFunction.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/showHidedCustomers.js}"></script>
	
	<script th:inline="javascript">
	    /*<![CDATA[*/
	    let shouldStartTour = /*[[${startTour}]]*/ false;
	    if (shouldStartTour) {
	        window.addEventListener('DOMContentLoaded', function () {
	            startTourCustomer();
	        });
	    }
	    /*]]>*/
	</script>

</body>
</html>


