<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- START COMMON META AND TITLE -->
<th:block th:include="fragments/common_meta_title"></th:block>
<!-- END COMMON META AND TITLE -->
	<th:block th:include="fragments/common_meta_title"></th:block>
    <th:block th:include="fragments/head"></th:block>
    <th:block th:include="fragments/common_css"></th:block>
<!-- START COMMON CSS -->
<th:block th:include="fragments/common_css"></th:block>
<!-- END COMMON CSS -->

<link rel="stylesheet" type="text/css" th:href="@{/resources/css/new_style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/status.css}">
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/buttonGroupFunction.css}">
</head>

<body
	class="vertical-layout vertical-compact-menu 2-columns menu-expanded fixed-navbar"
	data-open="click" data-menu="vertical-compact-menu"
	data-col="2-columns">

	<!-- BEGIN HEADER  -->
	
	<!-- END HEADER  -->
	 <th:block th:include="fragments/hmenu"></th:block>
	<!-- BEGIN LEFT MENU NAVIGATION -->
	
	<!-- END LEFT MENU NAVIGATION -->

    <!-- Center form -->
    <th:block th:include="fragments/frg_customerListCRMScreen"></th:block>

    <!-- START CUSTOMIZE BUTTON -->
	<th:block th:include="fragments/customizeButton"></th:block>
	<!-- END CUSTOMIZE BUTTON -->

	<!-- START COMMON JAVASCRIPT -->
	<th:block th:include="fragments/common_javascript"></th:block>
	<!-- END COMMON JAVASCRIPT -->

	<!-- PHẦN CHỈNH SỬA KHI HỆ THỐNG ASSETS TRÊN INTERNET BỊ LỖI -->
	<!-- FILE JS BỔ SUNG -->
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/navigate.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/status.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/search.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/fetchCustomersByStatus.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/customerList_JS.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/customerList_js_2.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/customerList_Pagination.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/toggleCheckboxActions.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/addCustomer.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/buttonGroupFunction.js}"></script>

</body>
</html>


