<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- START COMMON META AND TITLE -->
	<th:block th:include="fragments/common_meta_title"></th:block>
	<!-- END COMMON META AND TITLE -->

	<!-- START COMMON CSS -->
	<th:block th:include="fragments/common_css"></th:block>
	<!-- END COMMON CSS -->

	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/new_style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/customerDetail.css}" />
</head>

<body class="vertical-layout vertical-compact-menu 2-columns menu-expanded fixed-navbar" data-open="click"
	data-menu="vertical-compact-menu" data-col="2-columns">

	<!-- BEGIN HEADER  -->
	<th:block th:include="fragments/hmenu"></th:block>
	<!-- END HEADER  -->

	<!-- BEGIN LEFT MENU NAVIGATION -->
	<!-- <th:block th:include="fragments/leftNavCRM"></th:block> -->
	<!-- END LEFT MENU NAVIGATION -->

	<!--  BEGIN CONTENT -->
	<div class="app-content content">
		<div class="content-wrapper">
			<div class="content-header row">
				<div class="content-header-left col-md-6 col-12 mb-2">
					<h3 class="content-header-title">Khách hàng</h3>
					<div class="row breadcrumbs-top">
						<div class="breadcrumb-wrapper col-12">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Khách hàng</a></li>
								<li class="breadcrumb-item active">Chi tiết khách hàng</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="content-header-right col-md-6 col-12">
					<fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
						<input class="form-control" id="iconLeft" type="text" placeholder="Tìm kiếm khách hàng..." />
						<div class="form-control-position">
							<i class="fa fa-search"></i>
						</div>
					</fieldset>
				</div>
			</div>


			<div class="container">
				<!-- Left panel -->
				<div class="left-panel">
					<div class="user-info">
						<div class="user-avatar">
							<img th:src="@{/resources/app-assets/images/portrait/small/avatar-s-10.png}" alt="User Avatar">
						</div>
						<div class="user-details">
							<h2 th:text="${customer.companyName}"></h2>
							<p th:text="${customer.address}"></p>
							<p th:text="${customer.phone}"></p>
						</div>
					</div>

					<div class="actions">
						<a th:href="@{editCustomer(id=${customer.id})}" >
						    <button type="button"
						    	style="cursor: pointer;">
						    Edit
						    </button>
						</a>
						<button style="cursor: pointer; background: #DA4453" th:onclick="'deleteCustomer(' + ${customer.id} + ')'">Delete</button>
					</div>

					<!-- <div class="relationship-section">
						<label for="relationship">Trạng thái:</label>
						<ul>
							Lặp qua danh sách trạng thái
							<li th:each="status : ${customer.statuses}"
								th:text="${status.name}"></li>
						</ul>

					</div> -->

					<div class="person-in-charge">
						<label class="label-bold" for="person-in-charge">Người phụ
							trách:</label> <select id="person-in-charge">
							<option value="">Chọn Người Phụ Trách</option>
							<th:block th:each="person : ${responsiblePersons}">
								<option th:value="${person.id}" th:text="${person.name}"
									th:selected="${person.id == customer.responsiblePerson.id}">
								</option>
							</th:block>
						</select>
					</div>

					<div class="creation-info">
						<p>
							<span class="label-bold">Ngày tạo:</span> 9/8/2024 9:00
						</p>
						<p>
							<span class="label-bold">Người tạo:</span> Nguyễn Hoàng Phương
							Ngân
						</p>
						<p>
							<span class="label-bold">Đã mua:</span> 0 lần
						</p>
					</div>
				</div>

				<!-- Right panel -->
				<div class="right-panel">
					<div class="comments-section">
						<h3>Trao đổi</h3>

						<!--  Comment 1 -->
						<div class="comment">
							<div class="comment-avatar">
								<img
									th:src="@{/resources/app-assets/images/portrait/small/avatar-s-10.png}"
									alt="Comment Avatar">
							</div>
							<div class="comment-body">
								<div class="comment-header">Nguyễn Thế Thành</div>
								<div class="comment-time">9/8/2024 10:00</div>
								<p>Hi Ngân, Mình đã xác nhận lại đơn hàng với khách</p>
							</div>
						</div>

						<!-- Comment 2 -->
						<div class="comment">
							<div class="comment-avatar">
								<img
									th:src="@{/resources/app-assets/images/portrait/small/avatar-s-11.png}"
									alt="Comment Avatar">

							</div>
							<div class="comment-body">
								<div class="comment-header">Nguyễn Hoàng Phương Ngân</div>
								<div class="comment-time">9/8/2024 9:00</div>
								<p>Tạo mới khách hàng</p>
							</div>
						</div>
					</div>

					<div class="comment-input">
						<h3>Thêm phản hồi</h3>
						<textarea placeholder="Nhập phản hồi..."></textarea>
						<button>Gửi</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- END CONTENT -->

	<!-- START CUSTOMIZE BUTTON -->
	<th:block th:include="fragments/customizeButton"></th:block>
	<!-- END CUSTOMIZE BUTTON -->

	<!-- START COMMON JAVASCRIPT -->
	<th:block th:include="fragments/common_javascript"></th:block>
	<!-- END COMMON JAVASCRIPT -->

	<!-- PHẦN CHỈNH SỬA KHI HỆ THỐNG ASSETS TRÊN INTERNET BỊ LỖI -->
	<!-- FILE JS BỔ SUNG -->
	<script type="text/javascript" src="resources/app-assets/js/update/navigate.js"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/deleteCustomer.js}" defer></script>
	
</body>

</html>