<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- START COMMON META AND TITLE -->
<th:block th:include="fragments/common_meta_title"></th:block>
<!-- END COMMON META AND TITLE -->

<!-- START COMMON CSS -->
<th:block th:include="fragments/common_css"></th:block>
<!-- END COMMON CSS -->

<th:block th:include="fragments/head"></th:block>
<link type="text/css" rel="stylesheet" href="/library/webjars/handsontable/handsontable.full.min.css" />
<script th:inline="javascript" src="/library/webjars/handsontable/handsontable.full.min.js"></script>
</head>


<body
	class="vertical-layout vertical-compact-menu 2-columns menu-expanded fixed-navbar"
	data-open="click" data-menu="vertical-compact-menu"
	data-col="2-columns">

	<!-- BEGIN HEADER  -->
	<th:block th:include="fragments/headerCRM"></th:block>
	<!-- END HEADER  -->

	<!-- BEGIN LEFT MENU NAVIGATION -->
	<th:block th:include="fragments/leftNavCRM"></th:block>
	<!-- END LEFT MENU NAVIGATION -->

	<!--  BEGIN CONTENT -->
	<div class="app-content content">
		<!-- BEGIN CONTENT WRAPPER -->
		<th:block th:include="fragments/contentWrapperCRM"></th:block>
		<!-- END CONTENT WRAPPER -->
	</div>
	<!-- END CONTENT -->

		<!-- Screen Javascripts -->
		<!-- <script type="text/javascript" src="/library/webjars/handsontable/handsontable.full.min.js"></script> -->

	<th:block th:include="fragments/task/frg_task.html"></th:block>

	<script type="text/javascript" th:src="@{/resources/js/task/init.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/task/save.js}"></script>
</body>
</html>
