
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- START COMMON META AND TITLE -->
<th:block th:include="fragments/common_meta_title"></th:block>
<th:block th:include="fragments/head"></th:block>
<link type="text/css" rel="stylesheet" href="/library/webjars/handsontable/handsontable.full.min.css" />
<script th:inline="javascript" src="/library/webjars/handsontable/handsontable.full.min.js"></script>
<script>console.log("Handsontable:", typeof Handsontable); // Kiểm tra xem Handsontable có sẵn không
</script>
<!-- END COMMON META AND TITLE -->

<!-- START COMMON CSS -->

<th:block th:include="fragments/common_css"></th:block>
<!-- END COMMON CSS -->

<link rel="stylesheet" type="text/css" href="resources/css/ordersBtnHorizontalMenu.css">	
<link rel="stylesheet" type="text/css" href="resources/css/new_style.css">
</head>

<body
	class="vertical-layout vertical-compact-menu 2-columns menu-expanded fixed-navbar"
	data-open="click" data-menu="vertical-compact-menu"
	data-col="2-columns">

	<!-- /////////////////////////////////BEGIN HEADER /////////////////////////////////////////// -->
	<th:block th:include="fragments/headerCRM"></th:block>
	<!-- /////////////////////////////////END HEADER /////////////////////////////////////////// -->
	

	<!-- /////////////////////////////////BEGIN LEFT MENU NAVIGATION/////////////////////////////////////////// -->
	<th:block th:include="fragments/leftNavCRM"></th:block>
	<!-- /////////////////////////////////END LEFT MENU NAVIGATION/////////////////////////////////////////// -->

	<!--  BEGIN CONTENT -->
	<div class="app-content content">
	
		<!-- /////////////////////////////////BEGIN CONTENT WRAPPER/////////////////////////////////////////// -->
		<th:block th:include="fragments/ordersContentWrapperCRM"></th:block>
		<!-- /////////////////////////////////END CONTENT WRAPPER/////////////////////////////////////////// -->
		
		<h4 class="card-title">Danh sách đơn hàng</h4>
		<th:block th:include="fragments/orders/frg_orders.html"></th:block>
		
	</div>
	
	<!-- END CONTENT -->
	
	<!-- START CUSTOMIZE BUTTON -->
	<th:block th:include="fragments/customizeButton"></th:block>
	<!-- END CUSTOMIZE BUTTON -->

	<!-- START COMMON JAVASCRIPT -->
	<th:block th:include="fragments/common_javascript"></th:block>
	<!-- END COMMON JAVASCRIPT -->
	
	<!-- FILE JS BỔ SUNG -->
	
	
	<script type="text/javascript" th:src="@{/resources/js/orders/init.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/navigate.js}"></script>
	<!-- Screen Javascripts -->
	

</body>
</html>