
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- START COMMON META AND TITLE -->
<th:block th:include="fragments/common_meta_title"></th:block>
<!-- END COMMON META AND TITLE -->

<th:block th:include="fragments/head"></th:block>
<link type="text/css" rel="stylesheet" href="/library/webjars/handsontable/handsontable.full.min.css" />
<script th:inline="javascript" src="/library/webjars/handsontable/handsontable.full.min.js"></script>

<script>console.log("Handsontable:", typeof Handsontable); //Check Handsontable is available or not
</script>


<!-- START COMMON CSS -->
<th:block th:include="fragments/common_css"></th:block>
<!-- END COMMON CSS -->

<link rel="stylesheet" type="text/css" th:href="@{resources/css/ordersBtnHorizontalMenu.css}">	
<link rel="stylesheet" type="text/css" th:href="@{resources/css/new_style.css}">
<link rel="stylesheet" type="text/css" th:href="@{resources/css/order.css}">
</head>

<body
	class="vertical-layout vertical-compact-menu 2-columns menu-expanded fixed-navbar"
	data-open="click" data-menu="vertical-compact-menu"
	data-col="2-columns">

	<!-- BEGIN HEADER -->
	<th:block th:include="fragments/headerCRM"></th:block>
	<!-- END HEADER -->
	

	<!-- BEGIN LEFT MENU NAVIGATION -->
	<th:block th:include="fragments/leftNavCRM"></th:block>
	<!-- END LEFT MENU NAVIGATION -->

	<!--  BEGIN CONTENT -->
	<div class="app-content content">
	
		<!-- BEGIN CONTENT WRAPPER -->
		<th:block th:include="fragments/ordersContentWrapperCRM"></th:block>
		<!-- END CONTENT WRAPPER -->
		
	<div class="row">
	    <div class="col-12">
	        <div class="card">
	            <div class="card-header">
	                <h4 class="card-title search-condition">Điều kiện tìm kiếm</h4>
	                <div class="heading-elements">
	                    <ul class="list-inline mb-0">
	                        <li><a data-action="collapse"><i class="fa-solid fa-minus"></i></a></li>
	                        <li><a data-action="reload"><i class="fa-solid fa-rotate"></i></a></li>
	                        <li><a data-action="expand"><i class="fa-solid fa-expand"></i></a></li>
	                        <li><a data-action="close"><i class="fa-solid fa-xmark"></i></a></li>
	                    </ul>
	                </div>
	            </div>
	            <div class="card-content collapse show">
	                <div class="card-body search-condition">
	                    <div class="row">
	                        <div class="col-md-3 col-sm-12">
	                            <fieldset class="text-left customer-option">
	                                <h5>Khách hàng</h5>
	                                <select style="background-color: white; color: black; width: 100%;">
	                                    <option value="" disabled selected style="font-style: italic;">Chọn khách hàng</option>
	                                    <option value="kh1">Khách hàng 1</option>
	                                    <option value="kh2">Khách hàng 2</option>
	                                    <option value="kh3">Khách hàng 3</option>
	                                </select>
	                            </fieldset>
	                            <fieldset class="text-left ordercate-option">
	                                <h5>Loại đơn hàng</h5>
	                                <select style="background-color: white; color: black; width: 100%;">
	                                    <option value="" disabled selected style="font-style: italic;">Chọn loại đơn hàng</option>
	                                    <option value="type1">Loại đơn hàng 1</option>
	                                    <option value="type2">Loại đơn hàng 2</option>
	                                    <option value="type3">Loại đơn hàng 3</option>
	                                </select>
	                            </fieldset>
	                        </div>
	                        
	                        <div class="col-md-3 col-sm-12">
	                            <fieldset class="text-left order-status">
	                                <h5>Trạng thái đơn hàng</h5>
	                                   <label>
									        <input type="checkbox" name="orderStatus" value="all" class="custom-checkbox"> Tất cả
									    </label><br>
									    <label>
									        <input type="checkbox" name="orderStatus" value="packing" class="custom-checkbox"> Đóng gói
									    </label><br>
									    <label>
									        <input type="checkbox" name="orderStatus" value="shipping" class="custom-checkbox"> Vận chuyển
									    </label><br>
									    <label>
									        <input type="checkbox" name="orderStatus" value="delivered" class="custom-checkbox"> Giao hàng
									    </label>
	                            </fieldset>
	                        </div>
	                        <div class="col-md-3 col-sm-12">
	                            <fieldset class="text-left startdate-option">
	                                <h5>Ngày lập</h5>
	                                <input type="date" style="width: 100%; padding: 5px; color: black; background-color: white;">
	                            </fieldset>
	                            <fieldset class="text-left delidate-option">
	                                <h5>Ngày giao</h5>
	                                <input type="date" style="width: 100%; padding: 5px; color: black; background-color: white;">
	                            </fieldset>
	                            <fieldset class="text-right">
	                            	<button type="submit" class="search-order" style="margin-top: 10px;">Tìm</button>
	                            </fieldset>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	
	<div class="row">
		 <div class="col-12">
		 	<div class="order-screen">
				<h4 class="title order-title">Danh sách đơn hàng</h4>
				<th:block th:include="fragments/orders/frg_orders.html"></th:block>
			</div>
		</div>
	</div>
	
	<div id="statusModal">
	    <h3>Cập nhật trạng thái đơn hàng được chọn</h3>
	    <select id="statusSelect">
	        <option value="1">Nhận đơn</option>
	        <option value="2">Lưu kho</option>
	        <option value="3">Vận chuyển</option>
	        <option value="4">Lưu kho lạnh</option>
	        <option value="5">Giao hàng</option>
	    </select>
	    <br><br>
	    <button onclick="saveStatus()">Lưu</button>
	    <button onclick="closeModal()">Đóng</button>
	</div>
	<div id="modalOverlay" onclick="closeModal()">
	</div>
	
	<div id="updateOrderModal">
		<h3 id="title">Cập nhật đơn hàng</h3>
		<div class="closeBtnDiv" style="text-align: right;">
			<button onclick="closeModal()" class="closeBtn"><i class="fas fa-times"></i></button>
		</div>
		<hr>
	    <form id="orderForm">
		    <div class="form-row">
			    <div class="form-group col-md-4">
			      <label for="inputDate">Ngày tạo</label>
			      <input type="date" class="form-control" id="orderDate" placeholder="dd/mm/yyyy" required>
			    </div>
			    <div class="form-group col-md-4">
			      <label for="inputState">Trạng thái</label>
			      <select id="inputState" class="form-control">
			        <option selected>Chọn trạng thái...</option>
			        <option value="1">Nhận đơn</option>
			        <option value="2">Lưu kho</option>
			        <option value="3">Vận chuyển</option>
			        <option value="4">Lưu kho lạnh</option>
			        <option value="5">Giao hàng</option>	
			      </select>
			    </div>
			    <div class="form-group col-md-4">
			      <label for="inputOrderCode">Mã đơn hàng</label>
			      <input type="text" class="form-control" id="orderCode">
			    </div>
			</div>
	    	
		    <br/><div class="row2">
		    	
				    <div class="form-row">
				        <div class="form-group col-md-6">
				            <label for="goodsType">Loại hàng hóa</label>
				            <input type="text" class="form-control" id="goodsType">
				        </div>
				        <div class="form-group col-md-6">
				            <label for="transportMethod">Phương tiện vận chuyển</label>
				            <input type="text" class="form-control" id="transportMethod">
				        </div>
				    </div>
		    </div>
		    
		    <div class="container">
				<div class="column">
			        <fieldset>
			            <legend>Thông tin người gửi</legend>
			            <table class="sender-table">
			                <tr>
			                    <td>Họ tên:</td>
			                    <td><input type="text" class="input-container" /></td>
			                </tr>
			                <tr>
			                    <td>SDT:</td>
			                    <td><input type="text" class="input-container" placeholder="(+84) 1234567890" /></td>
			                </tr>
			                <tr>
			                    <td>Email:</td>
			                    <td><input type="email" class="input-container" /></td>
			                </tr>
			            </table>
			        </fieldset>
				</div>
	
				<div class="column col2">
				        <fieldset>
				            	<legend>Thông tin người nhận</legend>
				            <table class="receiver-table">
				                <tr>
				                    <td>Họ tên:</td>
				                    <td><input type="text" class="input-container" /></td>
				                </tr>
				                <tr>
				                    <td>SDT:</td>
				                    <td><input type="text" class="input-container" placeholder="(+84) 1234567890" /></td>
				                </tr>
				                <tr>
				                    <td>Email:</td>
				                    <td><input type="email" class="input-container" /></td>
				                </tr>
				            </table>
				        </fieldset>
				</div>
		</div>
	        
	        <div class="row2">
	        	<div class="form-row">
				        <div class="form-group col-md-6">
				            <label for="goodsType">Yêu cầu</label>
				            <div data-mdb-input-init class="form-outline">
								<textarea class="form-control" id="textAreaExample2" rows="8"></textarea>
							</div>
				        </div>
				        <div class="form-group col-md-6">
				            <label for="transportMethod">Địa chỉ</label>
				            <div data-mdb-input-init class="form-outline">
								<textarea class="form-control" id="textAreaExample2" rows="8"></textarea>
							</div>
				        </div>
				    </div>
	        </div>
	
	        <div class="row3">
				<legend class="legent-row3">Tự động cập nhật qua các kênh</legend>
				<label><input type="checkbox" id="emailUpdate" style="margin-left: 30px; background-color: gray; color: black;"> Email</label>
				<br><label><input type="checkbox" id="zaloUpdate" style="margin-left: 30px; background-color: gray; color: black;"> Zalo</label><span> (+84) 0987654321</span>
					<a href="#" style="color: #6942ca;"> Thay đổi</a>
				<br><label><input type="checkbox" id="smsUpdate" style="margin-left: 30px; background-color: gray; color: black;"> SMS</label><span> (+84) 0987654321</span>
					<a href="#" style="color: #6942ca;"> Thay đổi</a>
			</div>
		        
			<div class="row4">
				<button type="button" onclick="saveOrder()">Lưu</button>
	        	<button type="button" onclick="closeModal()">Trở về</button>
			</div>
	    </form>
	</div>
	</div>
	
	<!-- END CONTENT -->
		
	<!-- START CUSTOMIZE BUTTON -->
	<th:block th:include="fragments/customizeButton"></th:block>
	<!-- END CUSTOMIZE BUTTON -->

	<!-- START COMMON JAVASCRIPT -->
	<th:block th:include="fragments/common_javascript"></th:block>
	<!-- END COMMON JAVASCRIPT -->
	
	<!-- FILE JS BỔ SUNG -->
	<script type="text/javascript" th:src="@{/resources/js/orders/init.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/navigate.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/createOrder.js}"></script>
	<!-- Screen Javascripts -->

</body>
</html>