<div class="row row2">
	<div class="btn-group" role="group" aria-label="Button group">
		<p class="quantity-check">0</p>
		<p class="check">Đã chọn</p>
		<p class="quit">Bỏ chọn</p>
		<button type="button" class="btn">Gửi Email</button>
		<button type="button" class="btn">Gửi SMS</button>
		<button type="button" class="btn">Tạo Cơ Hội</button>
		<button type="button" class="btn">Tạo Công Việc</button>
		<button type="button" class="btn">Mối Quan Hệ</button>
		<button type="button" class="btn">Nhóm Khách Hàng</button>
		<button type="button" class="btn">Nguồn Khách Hàng</button>
		<button type="button" class="btn">Người Xem</button>
		<button type="button" class="btn" id="deleteBtn">Xóa Nhiều</button>
	</div>
</div>

<!-- Modal -->
<div id="confirmationModal" class="modal">
    <div class="modal-content model-delete">
        <p>Bạn có chắc chắn muốn xóa?</p>
        <button id="cancelBtn" class="modal-btn">Hủy bỏ</button>
        <button id="confirmDeleteBtn" class="modal-btn">Xóa</button>
    </div>
</div>

<!-- Overlay -->
<div id="overlay" class="overlay"></div>