<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- CSS của Select2 -->
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<!-- JavaScript của Select2 -->
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
	<div id="createOrderModal">
		<!-- <h3>ID của đơn hàng <span id="orderIdUpdate"></span></h3> -->
		<h3 id="title">Tạo mới đơn hàng </h3>
		<div class="closeBtnDiv" style="text-align: right;">
			<button onclick="closeModal()" class="closeBtn"><i class="fas fa-times"></i></button>
		</div>
		<hr>
	    <form id="orderCreateForm"  action="create-order" method="post">
		    <div class="form-row" style = "margin-bottom: -30px">
			    <div class="form-group col-md-6">
			      <label for="inputDate">Ngày tạo</label>
			      <input type="date" class="form-control" id="orderCreateDateCreate" style="background-color: white; color: black; width: 100%;" placeholder="dd/mm/yyyy" required >
			    </div>
			    <div class="form-group col-md-6">
			      <label for="inputDate">Ngày giao</label>
			      <input type="date" class="form-control" id="orderDeliveryDateCreate" style="background-color: white; color: black; width: 100%;" placeholder="yyyy/mm/dd" required >
			    </div>
			</div>
			
			<div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="orderCodeUpdateInput">Mã đơn hàng</label>
			      <input type="text" class="form-control" id=orderCodeInputCreate style="background-color: white; color: black;" >
			    </div>
			     <div class="form-group col-md-6">
				    <label for="goodsType">Loại đơn hàng</label>
				    <input list="orderCategories" id="orderCategoryInput" class="form-control" placeholder="Nhập hoặc chọn loại đơn hàng">
				    <datalist id="orderCategories">
				        <th:block th:each="orderCategory : ${orderCategories}">
				            <option th:value="${orderCategory.name}" th:data-id="${orderCategory.id}"></option>
				        </th:block>
				    </datalist>
				</div>

			</div>
	    	
		    <br/><div class="row2">
				    <div class="form-row">
				        <div class="form-group col-md-6">
						    <label for="goodsType">Loại hàng hóa</label>
						    <input list="goodsCategories" id="orderGoodsInput" class="form-control" placeholder="Nhập hoặc chọn loại hàng hóa">
						    <datalist id="goodsCategories">
						        <th:block th:each="goodsCategory : ${listGoodsCategories}">
						            <option th:value="${goodsCategory.name}" th:data-id="${goodsCategory.id}"></option>
						        </th:block>
						    </datalist>
						</div>

				        <div class="form-group col-md-6">
				            <label for="inputState">Trạng thái</label>
							<select id="orderStatusCreate" class="form-control select2" style="background-color: white; color: black;" >
							
							</select>
				        </div>
				    </div>
		    </div>
		    
		    <br/><div class="row2">
		    	<div class="form-row">
			        <div class="form-group col-md-6">
			            <label for="transportMethod">Phương tiện vận chuyển</label>
			            <input type="text" class="form-control" id="orderTransportCreate" style="background-color: white; color: black;" >
			        </div>
			    </div>
		   		</div>
		    
		   <div class="container">
				<div class="column">
			        <fieldset>
			            <legend>Thông tin người gửi</legend>
			            <table class="sender-table">
			                <tr>
							    <td>Họ tên:</td>
							    <td>
							        <input list="senderNames" id="orderSenderNameCreate" class="form-control" placeholder="Nhập hoặc chọn họ tên" style="background-color: white; color: black; width: 100%;">
							        <datalist id="senderNames">
							            <th:block th:each="customer : ${listCustomers}">
							                <option th:value="${customer.contactPerson}" th:data-id="${customer.id}" th:data-phone="${customer.phone}" th:data-email="${customer.email}"></option>
							            </th:block>
							        </datalist>
							    </td>
							</tr>
							<tr>
							    <td>SDT:</td>
							    <td><input type="text" class="input-container" id="orderSenderPhoneCreate" placeholder="(+84) 1234567890" readonly /></td>
							</tr>
							<tr>
							    <td>Email:</td>
							    <td><input type="text" class="input-container" id="orderSenderEmailCreate" readonly /></td>
							</tr>

			            </table>
			        </fieldset>
				</div>
	
				<div class="column col2">
				        <fieldset>
				            	<legend>Thông tin người nhận</legend>
				            <table class="receiver-table">
				                <tr>
								    <td>Họ tên:</td>
								    <td>
								        <input list="receiverNames" id="orderReceiverNameCreate" class="form-control" placeholder="Nhập hoặc chọn họ tên" style="background-color: white; color: black; width: 100%;">
								        <datalist id="receiverNames">
								            <th:block th:each="customer : ${listCustomers}">
								                <option th:value="${customer.contactPerson}" th:data-id="${customer.id}" th:data-phone="${customer.phone}" th:data-email="${customer.email}"></option>
								            </th:block>
								        </datalist>
								    </td>
								</tr>
								<tr>
								    <td>SDT:</td>
								    <td><input type="text" class="input-container" id="orderSenderPhoneCreate" placeholder="(+84) 1234567890" readonly /></td>
								</tr>
								<tr>
								    <td>Email:</td>
								    <td><input type="text" class="input-container" id="orderSenderEmailCreate" readonly /></td>
								</tr>
				            </table>
				        </fieldset>
				</div>
		</div>
	        
	        <div class="row2">
	        	<div class="form-row">
				        <div class="form-group col-md-6">
				            <label for="goodsType">Yêu cầu</label>
				            <div data-mdb-input-init class="form-outline">
								<textarea class="form-control" id="orderRequirementCreate" rows="8" ></textarea>
							</div>
				        </div>
				        <div class="form-group col-md-6">
				            <label for="transportMethod">Địa chỉ</label>
				            <div data-mdb-input-init class="form-outline">
								<textarea class="form-control" id="orderAddressCreate" rows="8" ></textarea>
							</div>
				        </div>
				    </div>
	        </div>
	
	        <div class="row3">
				<legend class="legent-row3">Tự động cập nhật qua các kênh</legend>
				<label><input type="checkbox" id="emailCreate" style="margin-left: 30px; background-color: gray; color: black;"> Email</label>
				<br><label><input type="checkbox" id="zaloCreate" style="margin-left: 30px; background-color: gray; color: black;"> Zalo</label><span> (+84) 0987654321</span>
					<a href="#" style="color: #6942ca;"> Thay đổi</a>
				<br><label><input type="checkbox" id="smsUpdate" style="margin-left: 30px; background-color: gray; color: black;"> SMS</label><span> (+84) 0987654321</span>
					<a href="#" style="color: #6942ca;"> Thay đổi</a>
			</div>
		        
			<div class="row4">
				<button type="button" id="createOrderButton">Lưu</button>
	        	<button type="button" onclick="closeModal()">Trở về</button>
			</div>
	    </form>
	</div>
	<script type="text/javascript" th:src="@{/resources/js/orders/datatable.js}" ></script>
	<script>
        document.getElementById("orderSenderNameCreate").addEventListener("input", function() {
            var input = this.value.toLowerCase();  // Lấy giá trị nhập vào và chuyển thành chữ thường để dễ so sánh
            var options = document.querySelectorAll("#senderNames option");  // Lấy tất cả các tùy chọn trong datalist
            // Tìm kiếm tên nhập vào có trong danh sách
            var found = false; // Cờ báo tìm thấy
            options.forEach(function(option) {
                var name = option.value.toLowerCase();  // Lấy tên khách hàng trong option (chuyển thành chữ thường để so sánh)

                if (input === name) {  // Nếu tên người dùng nhập đúng
                    // Cập nhật thông tin SĐT và Email
                    document.getElementById("orderSenderPhoneCreate").value = option.getAttribute("data-phone");
                    document.getElementById("orderSenderEmailCreate").value = option.getAttribute("data-email");
                    found = true;
                }
            });

            // Nếu không tìm thấy tên trong danh sách, làm rỗng SĐT và Email
            if (!found) {
                document.getElementById("orderSenderPhoneCreate").value = '';
                document.getElementById("orderSenderEmailCreate").value = '';
            }
        });
        

    </script>
	
</body>
</html>
