<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/library/webjars/datatables/1.10.25/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/library/webjars/datatables/1.10.25/css/jquery.dataTables.min.css">
	<link type="text/css" rel="stylesheet" href="/library/webjars/handsontable/handsontable.full.min.css" />
    <!-- START COMMON CSS -->
	<th:block th:include="fragments/common_css"></th:block>
	<!-- END COMMON CSS -->
	
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/ordersBtnHorizontalMenu.css}">	
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/new_style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/order.css}">
	<th:block th:include="fragments/common_meta_title"></th:block>
<!-- END COMMON META AND TITLE -->
	<th:block th:include="fragments/common_meta_title"></th:block>
    <th:block th:include="fragments/head"></th:block>
    <th:block th:include="fragments/common_css"></th:block>
<!-- START COMMON CSS -->
<th:block th:include="fragments/common_css"></th:block>
<!-- END COMMON CSS -->

    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/new_style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/status.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/buttonGroupFunction.css}">
    
    <th:block th:include="fragments/head"></th:block>
</head>
</head>
<style>
div#createOrderModal{
	display: block; 
	z-index:1;
}
</style>
<body
	class="vertical-layout vertical-compact-menu 2-columns menu-expanded fixed-navbar"
	data-open="click" data-menu="vertical-compact-menu"
	data-col="2-columns">
	
	<th:block th:include="fragments/hmenu"></th:block>

	<th:block th:include="fragments/common_javascript"></th:block>
	<div class="app-content content">

		<div class="content-header-left col-md-6 col-12 mb-2">
				<div class="empty-div" style="height: 30px;"></div>
				 <div class="row" style="text-align: right;">
				 	<div class="heading-elements">
           				<button id="openCreateOrderBtn" class="btn btn-primary btn-sm config"><i class="fas fa-plus white"></i> Đơn hàng</button>
                	</div>	
				 </div>
			</div>
		
		<div id="statusModal">
		    <h3>Cập nhật trạng thái đơn hàng được chọn</h3>
		    <select id="statusSelect">
		        <option value="1">Nhận đơn</option>
		        <option value="2">Lưu kho</option>
		        <option value="3">Vận chuyển</option>
		        <option value="4">Lưu kho lạnh</option>
		        <option value="5">Giao hàng</option>
		    </select>
		    <br><br>
		    <button onclick="saveStatus()">Lưu</button>
		    <button onclick="closeModalOrderStatus()">Đóng</button>
		</div>
		<!-- BEGIN UPDATE MODAL -->
		<th:block th:include="fragments/createOrderModal"></th:block>
	</div>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/loadOrderStatuses_Datatable_Bao.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/createOrder.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/loadSender-Receiver_Inform_Create.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/responsible-person/init.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/responsible-person/responsiblePerson-save.js}"></script>
	<script th:inline="javascript" src="/library/webjars/handsontable/handsontable.full.min.js"></script>

</body>
</html>