<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<!--  BEGIN CONTENT -->
	<div class="app-content content w-100 ms-0 p-0">
		<div class="content-wrapper m-0 p-0">
			<div class="content-header row">
				<div class="content-header-left col-md-6 col-12 mb-2">
					<h3 class="content-header-title">Khách hàng</h3>
					<div class="row breadcrumbs-top">
						<div class="breadcrumb-wrapper col-12">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Khách hàng</a></li>
								<li class="breadcrumb-item active">Tương tác</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<div class="container ms-2 w-100 mw-100">
				<div class="left-panel">
					<div class="user-info">
						<div class="user-avatar">
							<img th:src="@{/resources/app-assets/images/portrait/small/avatar-s-10.png}" alt="User Avatar">
						</div>
						<div class="user-details">
							<h2 th:text="${customer.companyName}"></h2>
							
							<div class="overviewInformation" style="line-height: 2; margin-bottom: 10px;">
							  <i class="fa fa-map-marker"></i>
							  <p th:text="${customer.address}" style="display: inline; margin: 0;"></p>
							</div>
							
							<div class="overviewInformation" style="line-height: 2; margin-bottom: 10px;	">
							  <i class="fa fa-volume-control-phone"></i>
							  <p th:text="${customer.phone}" style="display: inline; margin: 0;"></p>
							</div>
							
							<div class="overviewInformation" style="line-height: 2; margin-bottom: 10px; display: inline-flex; white-space: nowrap;">
							  <i class="fa fa-envelope-open"></i>
							  <p th:text="${customer.email}" style="display: inline-flex; margin-top: -6px; margin-left: 5px"></p>
							</div>
							
						</div>
					</div>
					<div class="actions">
						<a th:href="@{newEditCustomer(id=${customer.id})}" >
						    <button type="button"
						    	style="cursor: pointer;">
						    <i class="icon-pencil"></i> Edit
						    </button>
						</a>
						<button style="cursor: pointer; background: #DA4453" th:onclick="'hideCustomer(' + ${customer.id} + ')'">Hide</button>
						<button type="button" data-bs-toggle="modal" data-bs-target="#myModal">Edit Interaction</button>
					</div>
					<div class="person-in-charge">
						<p>
					        <span class="label-bold">Nhân viên phụ trách:</span>
					        <span th:text="${customer.responsiblePerson != null ? customer.responsiblePerson.name : 'Chưa có'}"></span>
					    </p>
					</div>
				</div>

				<div class="right-panel p-0 m-0 w-100">
					<th:block th:include="fragments/interaction/frg_interaction.html"></th:block>
				</div>
			</div>

		</div>
	</div>
<!-- 	<input type="file" id="htFileInput" multiple /> -->
	<div id="uploadModal" class="modal" style="display: none;">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<h2>Upload Files</h2>
	
<!-- 				<div id="uploadedFilesList" class="file-list"></div> -->

				<!-- Các file đã upload trước đó -->
				<div id="existingFilesList" class="file-list"></div>

				<!-- File người dùng đang chọn để upload -->
				<div id="previewFilesList" class="file-list"></div>

				<input type="file" id="uploadInputFiles" multiple class="file-input" />
	
				<div class="modal-buttons">
					<button onclick="uploadSelectedFiles()" class="btn btn-upload">Upload</button>
					<button onclick="closeUploadModal()" class="btn btn-closeUpload">Đóng</button>
				</div>
			</div>
		</div>
	</div>


	<th:block th:include="fragments/frg_ModalConfirmation"></th:block>
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/deleteCustomer.js}" defer></script>

	<!-- END CONTENT -->
</body>
</html>