<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<!--  BEGIN CONTENT -->
	<div class="app-content content">

		<!-- BEGIN CONTENT WRAPPER -->
		<th:block th:include="fragments/contentWrapperCRM"></th:block>
		<!-- END CONTENT WRAPPER -->

		<div class="content-body">
			<section class="row">
				<div class="col-12">
					<div class="card">
<!-- 						BEGIN STATUS OF CUSTOMER -->
<!-- 						<th:block th:include="fragments/statusOfCustomer"></th:block> -->
<!-- 						END STATUS OF CUSTOMER -->

<!-- 						Nút thêm mới khách hàng -->
<!-- 						<button class="btn btn-primary btn-sm" data-toggle="modal" -->
<!-- 							data-target="#addNewCustomerModal"> -->
<!-- 							<i class="fa-solid fa-plus"></i> Thêm mới khách hàng -->
<!-- 						</button> -->

						<div style="display: flex; align-items: center;">
							<!-- Status của khách hàng -->
							<th:block th:include="fragments/statusOfCustomer"></th:block>

							<!-- Nút thêm mới khách hàng -->
<!-- 							<button class="addCustomerbtn" data-toggle="modal" -->
<!-- 								data-target="#addNewCustomerModal"> -->
<!-- 								<i class="fa-solid fa-plus"></i> Thêm mới khách hàng -->
<!-- 							</button> -->
							
							<div class="addCustomerAndRestoreCustomer">
							<!-- Thay đổi nút Thêm khách hàng -->
								<a th:href = "@{/customer/newEditCustomer}">
									<button class="addCustomerbtn">
										<!-- onclick="window.location.href='/crm-web/add-customer-dan'"> -->
										<i class="fa-solid fa-plus"></i> Thêm mới khách hàng
									</button>
								</a>
								
								
								<button class="restoreHidedCustomerbtn" id="restoreHidedCustomerbtn" onclick="showHidedCustomers()">
									<!-- onclick="window.location.href='/crm-web/add-customer-dan'"> -->
									<i class="fa-solid fa-arrows-rotate"></i> Khôi phục khách hàng bị ẩn
								</button>
								 <th:block th:include="fragments/frg_ModalShowHidedCustomersConfirmation"></th:block>
							</div>

						</div>

						<!-- Modal cho Thêm Khách Hàng Mới -->
						<div class="modal fade" id="addNewCustomerModal" tabindex="-1"
							role="dialog" aria-labelledby="addNewCustomerModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="addNewCustomerModalLabel">Thêm
											Khách Hàng Mới</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form id="addNewCustomerForm">
											<div id="errorMessage" class="alert alert-danger"
												style="display: none;"></div>
											<div class="form-group">
												<label for="name">Tên:</label> <input type="text"
													class="form-control" id="name" name="name">
											</div>
											<div class="form-group">
												<label for="address">Địa chỉ:</label> <input type="text"
													class="form-control" id="address" name="address">
											</div>
											<div class="form-group">

												<label for="phone">Số điện thoại:</label> <input
													style="display: block !important;" type="text"
													class="form-control" id="phone" name="phone">
											</div>
											<button type="submit" class="btn btn-primary">Lưu
												Khách Hàng</button>
										</form>
									</div>
								</div>
							</div>
						</div>

						<div class="card-content">
							<div class="card-body">
								<!-- Task List table -->
								<div class="table-responsive">
									<div id="project-task-list_wrapper"
										class="dataTables_wrapper dt-bootstrap4">
										
										<!-- BEGIN CONTENT WRAPPER -->
										<th:block th:include="fragments/buttonGroupFunction"></th:block>
										<!-- END CONTENT WRAPPER -->


										<!-- BEGIN BẢNG DANH SÁCH KHÁCH HÀNG VÀ BỘ LỌC -->
										<div class="container-flex">
											<div class="filter-container">
												<button id="filter-toggle" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
													<i class="fa-solid fa-filter"></i>
												</button>

												<!-- Khung lọc liên hệ theo, ban đầu ẩn -->
												<!-- <div id="filter-box" class="filter-hidden">
													<span>Lọc liên hệ theo</span>
													<div class="input-with-icon">
														<input class="form-control" id="iconLeft" type="text"
															placeholder="Tìm kiếm..." fdprocessedid="66aqzo">
														<div class="icon-container">
															<i class="fa fa-search"></i>
														</div>
													</div>
													<input type="text" placeholder="Tìm kiếm...">
													<form>
														<label> 
															<input type="checkbox" id="filter-option-1" data-target="#responsible-select">Người phụ trách
														</label> 
														<select id="responsible-select" class="hidden-select">
															<option value="">Chọn người phụ trách</option>
															<option value="1">Lê Ngọc Thạch</option>
															<option value="2">Nguyễn Hoàng Phương Ngân</option>
															<option value="3">Nguyễn Thế Thành</option>
														</select>
														 
														<label> 
															<input type="checkbox" id="filter-option-2" data-target="#company-name, #company-address"> Thông tin công ty
														</label> 
														<input id="company-name" class="hidden-select" type="text" placeholder="Tìm kiếm tên công ty"> 
														<input id="company-address" class="hidden-select" type="text" placeholder="Tìm kiếm địa chỉ công ty"> 
														
														<label>
															<input type="checkbox" id="filter-option-3" data-target="#representative-name"> Tên người đại diện
														</label> 
														<input id="representative-name" class="hidden-select" type="text" placeholder="Tìm kiếm tên người đại diện">

														<label> <input type="checkbox"
															id="filter-option-4" data-target="#email"> Email
															công ty
														</label> <input id="email" class="hidden-select" type="text"
															placeholder="Tìm kiếm email công ty"> <label>
															<input type="checkbox" id="filter-option-5"
															data-target="phone"> Điện thoại
														</label> <input id="phone" class="hidden-select" type="text"
															placeholder="Tìm kiếm SĐT công ty"> <label>
															<input type="checkbox" id="filter-option-6"
															data-target="status"> Trạng thái
														</label> <select id="main-status-select" class="hidden-select">
															<option value="">Chọn trạng thái</option>
															<option value="1">MỚI</option>
															<option value="2">CHƯA BẮT ĐẦU</option>
															<option value="3">HOÃN LẠI</option>
															<option value="4">ĐANG TRONG TIẾN TRÌNH</option>
															<option value="5">HOÀN THÀNH</option>
															<option value="6">HỦY</option>
															<option value="7">CHỐT</option>

														</select> <label> <input type="checkbox"
															id="filter-option-7" data-target="time"> Thời
															gian
														</label>
														<div id="time-filters" class="hidden-select">
															<span>Thời gian đăng ký</span> <input type="date"
																id="register-time" placeholder="Thời gian đăng ký">

															<br/><span>Thời gian chốt</span> <input type="date"
																id="finalized-time" placeholder="Thời gian chốt">

															<br/><span>Thời gian hủy</span> <input type="date"
																id="cancel-time" placeholder="Thời gian hủy"> 
																
															<br/><span>Thời gian hoàn thành</span> <input type="date" id="complete-time"
																placeholder="Thời gian hoàn thành">
														</div>
														<button type="button">Áp dụng lọc</button>
														<button type="button">Xóa bỏ</button>
													</form>
												</div> -->
												
												<!-- ADVANCED SEARCH -->
												<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
												  <div class="modal-dialog modal-lg">
												    <div class="modal-content">
												    <!-- <form action="/crm-web/customer-list-search-son" method="get"> -->
												   	<form th:action="@{/customer/list}" method="get">
												      <div class="modal-header">
												        <h1 class="modal-title fs-5" id="staticBackdropLabel">Tìm kiếm</h1>
												        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												      </div>
												      <div class="modal-body w-100">
												        <div class="row">
												        	<div class="mb-3 col-4">
															    <label for="tencty" class="form-label">Tên Công ty</label>
															    <input type="text" class="form-control" id="tencty" name="nameCompany">
															</div>
															<div class="mb-3 col-4">
															    <label for="sdt" class="form-label">Số điện thoại</label>
															    <input type="text" class="form-control" id="std" name="phone">
															</div>
															<div class="mb-3 col-4">
															    <label for="ngll" class="form-label">Người liên lạc</label>
															    <input type="text" class="form-control" id="ngll" name="contactPerson">
															</div>
												        </div>
												        <div class="row">
												        	
															<div class="mb-3 col-4">
															    <label for="dc" class="form-label">Địa chỉ</label>
															    <input type="text" class="form-control" id="dc" name="address">
															</div>
															<div class="mb-3 col-4">
															    <label for="email" class="form-label">Email</label>
															    <input type="email" class="form-control" id="dc" name="email">
															</div>
															
												        </div>
												        <div class="row">
												        	<div>
															    <label for="profession" class="form-label">Chọn ngành nghề</label>
															    <div th:each="profession : ${professions}" class="form-check">
															        <input 
															            class="form-check-input" 
															            type="checkbox" 
															            th:value="${profession.id}" 
															            th:id="${profession.id}" 
															            name="careers">
															        <label class="form-check-label" th:for="${profession.id}">
															            <span th:text="${profession.name}"></span>
															        </label>
															    </div>
															</div>
												        </div>
												        
												      </div>
												      <div class="modal-footer">
												        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
												        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
												      </div>
												     </form>
												    </div>
												  </div>
												</div>
												
											</div>

											<!-- BEGIN TABLE CUSTOMER LIST -->
											<div class="table-container">
												<div class="table-responsive">
													<div class="scrollable-table">
														<table id="table" class="table table-bordered">
															<thead class="thead">
																<tr class="bg">
																	<th style="width: 2%" data-field="select" class="th1">
																		<input type="checkbox" id="select-all"
																		class="d-flex align-items-center justify-content-center" />
																	</th>
																	<th data-field="number" class="th2">STT</th>
																	<th data-field="company_name" class="th3">Tên công
																		ty</th>
																	<th data-field="contact_person" class="th4">Người
																		liên hệ chính</th>
																	<th data-field="email" class="th5">Email</th>
																	<th data-field="phone" class="th6">Số điện thoại</th>
																	<th data-field="address" class="th7">Địa chỉ khách
																		hàng</th>
																	<th data-field="profession" class="th8">Ngành nghề</th>
																	<th data-field="main_status" class="th9">Trạng
																		thái chính</th>
																	<th data-field="sub_status" class="th10">Trạng
																		thái phụ</th>
																	<th data-field="responsible_person" class="th11">Người
																		phụ trách</th>
																	<th data-field="created_at" class="th12">Thời gian
																		tạo</th>
																	<th data-field="note" class="th13">Ghi chú</th>
																	<th class="th14">Hành động</th>
																</tr>
															</thead>
															<tbody>
																<tr th:each="customer, iterStat : ${customers}">
																	<td class="th1"><input type="checkbox"
																		name="customer" th:value="${customer.id}"
																		class="customer-checkbox" /></td>
																	<td th:text="${iterStat.index + 1 + (currentPage-1) * 10}"></td>
																	<td><a
																		th:href="@{customerDetail(id=${customer.id})}"
																		th:text="${customer.companyName != null ? customer.companyName : ''}"></a></td>
																	<td th:text="${customer.contactPerson != null ? customer.contactPerson : ''}"></td>
																	<td th:text="${customer.email != null ? customer.email : ''}"></td>
																	<td th:text="${customer.phone != null ? customer.phone : ''}"></td>
																	<td th:text="${customer.address != null ? customer.address : ''}"></td>
																	<td th:text="${customer.profession != null ? customer.profession.name : ''}"></td>
																	<td th:class="'status-cell main-status'"
																		th:style="${customer.mainStatus != null ? 'background-color: ' + customer.mainStatus.backgroundColor + '; color: white; text-align: center; vertical-align: middle;' : ''}">
																		<span
																		th:text="${customer.mainStatus != null ? customer.mainStatus.name : ''}"></span>
																	</td>
																	<td th:class="'status-cell sub-status'"
																		th:style="${customer.subStatus != null ? 'background-color: ' + customer.subStatus.backgroundColor + '; color: white; text-align: center; vertical-align: middle;' : ''}">
																		<span
																		th:text="${customer.subStatus != null ? customer.subStatus.name : ''}"></span>
																	</td>
																	<td th:text="${customer.responsiblePerson != null ? customer.responsiblePerson.name : ''}"></td>

																	<td
																		th:text="${customer.createdAt != null ? #dates.format(customer.createdAt, 'yyyy-MM-dd HH:mm:ss') : ''}"></td>
																	<td th:text="${customer.note != null ? customer.note : ''}"></td>
																	<td> 
																		<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><span data-i18n="nav.dash.main">Hành động</span></a>
														                <ul class="dropdown-menu">
														                  <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/orders/new(customerId=${customer.id})}" data-toggle="dropdown">Đơn hàng mới</a></li>
														                </ul>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<!-- END TABLE CUSTOMER LIST -->



										</div>

										<!-- END BẢNG DANH SÁCH KHÁCH HÀNG VÀ BỘ LỌC -->

										<div class="row">
											<div class="col-sm-12"></div>
										</div>
										<div class="row">
											<th:block th:if="${numberOfElementsInCurrentPage > 0}">
												<div class="col-sm-12 col-md-5">
													<div class="dataTables_info" id="project-task-list_info"
														role="status" aria-live="polite">Showing [[${(currentPage != null ? (currentPage - 1) * 10 + 1 : 0)}]] to [[${(numberOfElementsInCurrentPage != null ? (currentPage - 1) * 10 + numberOfElementsInCurrentPage : 0)}]] of [[${(totalCustomerWithSpec != null ? totalCustomerWithSpec : 0)}]] entries</div>
												</div>
											</th:block>
											<div class="col-sm-12 col-md-7">
												<div class="dataTables_paginate paging_simple_numbers"
													id="project-task-list_paginate">
													<ul class="pagination" 
													th:with="pageUrlPrefix = '/customer/list'"
													th:if="${totalPages > 0}">
													
														 <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
													        <a class="page-link" th:href="@{${pageUrlPrefix} + '?' + ${filter} + 'page=1'}">First</a>
													        
													    </li>
													    
													    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
													        <a class="page-link" th:href="@{${pageUrlPrefix} + '?' + ${filter} + 'page=' + ${currentPage-1}}">Previous</a>
													    </li>
														
													    
													    <th:block th:if="${totalPages <= 10}">
													    <li class="page-item" 
													        th:each="page : ${#numbers.sequence(1, totalPages)}" 
													        th:classappend="${page == currentPage} ? 'active' : ''">
													        <a class="page-link" th:href="@{${pageUrlPrefix} + '?' + ${filter} + 'page=' + ${page}}">[[${page}]]</a>
													    </li>
													    </th:block>
													    
													 	<th:block th:if="${totalPages > 10}">
														 	<th:block th:if="${currentPage <= 5 || currentPage >= totalPages - 4}">
														    <li class="page-item" 
														        th:each="page : ${#numbers.sequence(1, 5)}" 
														        th:classappend="${page == currentPage} ? 'active' : ''">
														        <a class="page-link" th:href="@{${pageUrlPrefix} + '?' + ${filter} + 'page=' + ${page}}">[[${page}]]</a>
														    </li>
													    
													    
													   		<a class="page-link" th:href="@{${pageUrlPrefix} + '?' + ${filter} + 'page=6'}">...</a>
													   		
													   		<li class="page-item" 
														        th:each="page : ${#numbers.sequence(totalPages - 4, totalPages)}"
														        th:classappend="${page == currentPage} ? 'active' : ''">
														        <a class="page-link" th:href="@{${pageUrlPrefix} + '?' + ${filter} + 'page=' + ${page}}">[[${page}]]</a>
														    </li>
														    </th:block>
														    
														    <th:block th:if="${currentPage > 5 && currentPage < totalPages - 4}">
														    	<a class="page-link" th:href="@{${pageUrlPrefix} + '?' + ${filter} + 'page=' + ${currentPage-5}}">...</a>
														    	<li class="page-item" 
														        th:each="page : ${#numbers.sequence(currentPage - 4, currentPage + 4)}"
														        th:classappend="${page == currentPage} ? 'active' : ''">
														        <a class="page-link" th:href="@{${pageUrlPrefix} + '?' + ${filter} + 'page=' + ${page}}">[[${page}]]</a>
														    </li>
														    	<a class="page-link" th:href="@{${pageUrlPrefix} + '?' + ${filter} + 'page=' + ${currentPage + 5}}">...</a>
														    </th:block>
													    </th:block> 
													
													    
													    <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled' : ''">
													        <a class="page-link" th:href="@{${pageUrlPrefix} + '?' + ${filter} + 'page=' + ${currentPage+1}}">Next</a>
													    </li>
													    
													    <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled' : ''">
													        <a class="page-link" th:href="@{${pageUrlPrefix} + '?' + ${filter} + 'page=' + ${totalPages}}">Last</a>
													    </li>
													</ul>

												</div>
											</div>
										</div>
									</div>
								</div>
								<!--/ Task List table -->
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<!-- END CONTENT -->


