<div class="modal" tabindex="-1" role="dialog" id="showHidedCustomersConfirmationModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header  text-bg-light">
        <h5 class="modal-title">Thông báo xác nhận</h5>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn khôi phục những khách hàng này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="confirmShowBtn" class="btn btn-primary modal-btn">Khôi phục</button>
        <button type="button" id="cancelShowBtn" class="btn btn-secondary modal-btn" data-dismiss="modal">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>

<!-- Overlay -->
<div id="overlay" class="overlay"></div>