<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<!--  BEGIN CONTENT -->
	<div class="app-content content w-100 ms-0 p-0">
		<div class="content-wrapper m-0 p-0">
			<div class="content-header row">
				<div class="content-header-left col-md-6 col-12 mb-2">
					<h3 class="content-header-title">Khách hàng</h3>
					<div class="row breadcrumbs-top">
						<div class="breadcrumb-wrapper col-12">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Khách hàng</a></li>
								<li class="breadcrumb-item active">Tương tác</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<div class="container ms-2 w-100 mw-100">
				<!-- Left panel -->
				<div class="left-panel">
					<div class="user-info">
						<div class="user-avatar">
							<img th:src="@{/resources/app-assets/images/portrait/small/avatar-s-10.png}" alt="User Avatar">
						</div>
						<div class="user-details">
							<h2 th:text="${customer.companyName}"></h2>
							<p th:text="${customer.address}"></p>
							<p th:text="${customer.phone}"></p>
						</div>
					</div>

					<div class="actions">
						<a th:href="@{newEditCustomer(id=${customer.id})}" >
						    <button type="button"
						    	style="cursor: pointer;">
						    Edit
						    </button>
						</a>
						<button style="cursor: pointer; background: #DA4453" th:onclick="'hideCustomer(' + ${customer.id} + ')'">Hide</button>
					</div>
					
					

					<div class="person-in-charge">
						<label class="label-bold" for="person-in-charge">Người phụ trách:</label> 
						<select id="person-in-charge">
							<option value="ngan">Nguyễn Hoàng Phương Ngân</option>
							<option value="other">Khác</option>
						</select>
					</div>

					<div class="creation-info">
						<p><span class="label-bold">Ngày tạo:</span>9/8/2024 9:00</p>
						<p><span class="label-bold">Người tạo:</span>Nguyễn Hoàng Phương Ngân</p>
						<p><span class="label-bold">Đã mua:</span>0 lần</p>
					</div>
				</div>

				<div class="right-panel p-0 m-0 w-100">
					<th:block th:include="fragments/interaction/frg_interaction.html"></th:block>
				</div>
			</div>

		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/resources/app-assets/js/update/deleteCustomer.js}" defer></script>

	<!-- END CONTENT -->
</body>
</html>