<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<!--  BEGIN CONTENT -->
	<div class="app-content content">
		<div class="content-wrapper">
			<div class="content-header row">
				<div class="content-header-left col-md-6 col-12 mb-2">
					<h3 class="content-header-title">Khách hàng</h3>
					<div class="row breadcrumbs-top">
						<div class="breadcrumb-wrapper col-12">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Khách hàng</a></li>
								<li class="breadcrumb-item active">Chi tiết khách hàng</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="content-header-right col-md-6 col-12">
					<fieldset
						class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
						<input class="form-control" id="iconLeft" type="text"
							placeholder="Tìm kiếm khách hàng..." />
						<div class="form-control-position">
							<i class="fa fa-search"></i>
						</div>
					</fieldset>
				</div>
			</div>


			<div class="container">
				<!-- Left panel -->
				<div class="left-panel">
					<div class="user-info">
						<div class="user-avatar">
							<img
								src="resources/app-assets/images/portrait/small/avatar-s-10.png"
								alt="User Avatar">
						</div>
						<div class="user-details">
							<h2 th:text="${customer.companyName}"></h2>
							<p th:text="${customer.address}"></p>
							<p th:text="${customer.phone}"></p>
						</div>
					</div>

					<div class="actions">
						<button>Edit</button>
						<button>Delete</button>
					</div>

					<!-- <div class="relationship-section">
						<label for="relationship">Trạng thái:</label>
						<ul>
							Lặp qua danh sách trạng thái
							<li th:each="status : ${customer.statuses}"
								th:text="${status.name}"></li>
						</ul>

					</div> -->

					<div class="person-in-charge">
						<label class="label-bold" for="person-in-charge">Người phụ
							trách:</label> <select id="person-in-charge">
							<option value="ngan">Nguyễn Hoàng Phương Ngân</option>
							<option value="other">Khác</option>
						</select>
					</div>

					<div class="creation-info">
						<p>
							<span class="label-bold">Ngày tạo:</span> 9/8/2024 9:00
						</p>
						<p>
							<span class="label-bold">Người tạo:</span> Nguyễn Hoàng Phương
							Ngân
						</p>
						<p>
							<span class="label-bold">Đã mua:</span> 0 lần
						</p>
					</div>
				</div>

				<!-- Right panel -->
				<div class="right-panel">
					<div class="comments-section">
						<h3>Trao đổi</h3>

						<!--  Comment 1 -->
						<div class="comment">
							<div class="comment-avatar">
								<img
									src="resources/app-assets/images/portrait/small/avatar-s-10.png"
									alt="Comment Avatar">
							</div>
							<div class="comment-body">
								<div class="comment-header">Nguyễn Thế Thành</div>
								<div class="comment-time">9/8/2024 10:00</div>
								<p>Hi Ngân, Mình đã xác nhận lại đơn hàng với khách</p>
							</div>
						</div>

						<!-- Comment 2 -->
						<div class="comment">
							<div class="comment-avatar">
								<img
									src="resources/app-assets/images/portrait/small/avatar-s-11.png"
									alt="Comment Avatar">
							</div>
							<div class="comment-body">
								<div class="comment-header">Nguyễn Hoàng Phương Ngân</div>
								<div class="comment-time">9/8/2024 9:00</div>
								<p>Tạo mới khách hàng</p>
							</div>
						</div>
					</div>

					<div class="comment-input">
						<h3>Thêm phản hồi</h3>
						<textarea placeholder="Nhập phản hồi..."></textarea>
						<button>Gửi</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- END CONTENT -->
</body>
</html>