<!-- Fragment: Horizontal menu -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-shadow navbar-brand-center" role="navigation" data-menu="menu-wrapper" data-nav="brand-center" style="z-index: 1000;">
      <div class="main-menu-content center-layout" data-menu="menu-container">
        
        <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
        	<li class="active" data-page="crm-web/home" data-menu="dropdown"><a
					class="menu-item" th:href="@{/}"><i class="icon-home" data-toggle="dropdown"></i><span
						class="menu-title" data-i18n="nav.dash.main">Trang chủ</span></a>
			</li>
            <li class="dropdown nav-item active" data-menu="dropdown">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-user-following"></i><span data-i18n="nav.dash.main">Customer</span></a>
                <ul class="dropdown-menu">
                  <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/customer/newEditCustomer}" data-toggle="dropdown">New</a></li>
                  <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/customer/list}" data-toggle="dropdown">List</a></li>
                  <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/customer/interact}" data-toggle="dropdown">Interaction</a></li>  
                  <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/customer/list}" data-toggle="dropdown">Search (Son)</a></li>
                  <li class="active" data-menu=""><a class="dropdown-item" href="#" data-toggle="dropdown">Care</a></li>
                </ul>
            </li>
            <li class="dropdown nav-item" data-menu="dropdown">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-docs"></i><span data-i18n="nav.dash.main">Order</span></a>
                <ul class="dropdown-menu">
                  <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/orders/new}" data-toggle="dropdown">New</a></li>
                  <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/orders/list}" data-toggle="dropdown">List</a></li>
                  <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/orders-datatable-thien}" data-toggle="dropdown">Search</a>
                  </li>
                  <li class="active" data-menu=""><a class="dropdown-item" href="#" data-toggle="dropdown">Update status</a>
                  </li>
                  <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/orders/history}" data-toggle="dropdown">History</a>
                  </li>
                </ul>
            </li>
            <li class="dropdown nav-item" data-menu="dropdown">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-settings"></i><span data-i18n="nav.dash.main">Settings</span></a>
                   <ul class="dropdown-menu">
                      <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/orders-configuration-ky/status}" data-toggle="dropdown">Order configuration</a></li>
                      <li data-menu=""><a class="dropdown-item" th:href="@{/orders-configuration/orders}" data-toggle="dropdown">Order Type (Bao)</a></li>
                      <li data-menu=""><a class="dropdown-item" th:href="@{/orders-configuration-ky/status}" data-toggle="dropdown">Order Status</a></li>
                      <li class="active" data-menu=""><a class="dropdown-item" href="#" data-toggle="dropdown">General</a></li>
                  </ul>
            </li>
            <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-note"></i><span data-i18n="nav.templates.main">Reports</span></a>
                <ul class="dropdown-menu">
                   <li class="active" data-menu=""><a class="dropdown-item" href="#" data-toggle="dropdown">Customer</a></li>
                   <li class="active" data-menu=""><a class="dropdown-item" href="#" data-toggle="dropdown">Order</a></li>
                   <li class="active" data-menu=""><a class="dropdown-item" href="#" data-toggle="dropdown">Task</a></li>
                   <li class="active" data-menu=""><a class="dropdown-item" href="#" data-toggle="dropdown">Project</a></li>
                   <li class="active" data-menu=""><a class="dropdown-item" href="#" data-toggle="dropdown">Product</a></li>
                   <li class="active" data-menu=""><a class="dropdown-item" href="#" data-toggle="dropdown">Contract</a></li>
                   <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">MKT</a>
                    <ul class="dropdown-menu">
                      <li data-menu=""><a class="dropdown-item" href="#" data-toggle="dropdown">Chiến dịch</a></li>
                      <li data-menu=""><a class="dropdown-item" href="#" data-toggle="dropdown">Affiliate</a></li>
                      <li data-menu=""><a class="dropdown-item" href="#" data-toggle="dropdown">Telesales</a></li>
                     </ul>
                   </li>
                </ul>
             </li>
             <li class="dropdown nav-item"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-note"></i><span data-i18n="nav.templates.main">About</span></a>
        </ul>
    </div>
</div>        

         
<!-- <ul class="navIntraTool actionToolbar"> -->
<!--   <li>   -->
<!--     <span title="Đơn hàng"> -->
<!--       <a th:href="@{/orders-configuration/orders}">Đơn hàng</a> -->
<!--     </span> -->
<!--   </li> -->
<!--   <li>  -->
<!--     <span title="Trạng thái"> -->
<!--       <a th:href="@{/orders-configuration/status}">Trạng thái</a> -->
<!--     </span> -->
<!--   </li> -->
<!-- </ul> -->
</html>
