<!-- Fragment: Horizontal menu -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intro.js/minified/introjs.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/intro.js/minified/intro.min.js"></script>
</head>
<div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-shadow navbar-brand-center" role="navigation" data-menu="menu-wrapper" data-nav="brand-center">
      <div class="main-menu-content center-layout" data-menu="menu-container">
        
        <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
        
        <li class="dropdown nav-item active" data-menu="dropdown">
               	<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-home"></i><span data-i18n="nav.dash.main">Hướng dẫn sử dụng</span></a>
                <ul class="dropdown-menu">
                	<li class="active" data-menu=""><a class="dropdown-item" data-toggle="dropdown" onclick="startTour()">Thanh menu ngang</a></li>
                	<li th:if="${#request.userPrincipal}" class="active" data-menu=""><a class="dropdown-item" data-toggle="dropdown" th:href="@{/customer/list?startTour=true}">Khách hàng</a></li>
                </ul>
         </li>
        	<!-- <li class="nav-item active" data-page="crm-web/home">
			    <a class="nav-link" th:href="@{/}" id="homeLink">
			        <i class="icon-home"></i>
			        <span class="menu-title" data-i18n="nav.dash.main">Trang chủ</span>
			    </a>
			</li> -->
		 	<li class="dropdown nav-item active" data-menu="dropdown" data-step="1" data-intro="Đây là phần Giới thiệu. Bạn có thể xem trang chủ, hệ sinh thái và các chức năng liên hệ.">
               	<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-home"></i><span data-i18n="nav.dash.main">Giới thiệu</span></a>
                <ul class="dropdown-menu">
                	<li class="active" data-menu=""><a class="dropdown-item" th:href="@{/}" data-toggle="dropdown">Trang chủ</a></li>
                	<li class="active" data-menu=""><a class="dropdown-item" th:href="@{/ecosystem}" data-toggle="dropdown">Hệ sinh thái</a></li>
                	<li class="active" data-menu=""><a class="dropdown-item" th:href="@{/contact}" data-toggle="dropdown">Liên hệ</a></li>
                	<li class="active" data-menu=""><a class="dropdown-item" th:href="@{/feature-introduction}" data-toggle="dropdown">Đặc trưng</a></li>
                	<li class="active" data-menu=""><a class="dropdown-item" th:href="@{/feedback}" data-toggle="dropdown">Phản hồi</a></li>
                	<li class="active" data-menu=""><a class="dropdown-item" th:unless="${#request.userPrincipal}" th:href="@{/trial-registration}" data-toggle="dropdown">Đăng ký dùng thử</a></li>
                </ul>
           	</li>
            
            
           	<li th:if="${#request.userPrincipal}" class="dropdown nav-item active" data-menu="dropdown" data-step="2" data-intro="Quản lý khách hàng tại đây: tạo mới, xem danh sách, quản lý tương tác.">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-user-following"></i><span data-i18n="nav.dash.main">Khách hàng</span></a>
                <ul class="dropdown-menu">
                  <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/customer/newEditCustomer}" data-toggle="dropdown">Tạo mới khách hàng</a></li>
                  <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/customer/list}" data-toggle="dropdown">Danh sách khách hàng</a></li>
                  <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/customer/interact}" data-toggle="dropdown">Danh sách tương tác</a></li>  
                  
                  <!-- Chức năng không khác gì Customer>List. Cần thay đổi lại -->
                  <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/customer/list}" data-toggle="dropdown">Tìm kiếm</a></li>  
                   <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/reminder/list}" data-toggle="dropdown">Thiết lập nhắc nhở</a></li>
                </ul>
            </li>
            
            <li th:if="${#request.userPrincipal}" class="dropdown nav-item active" data-menu="dropdown" data-step="3" data-intro="Quản lý công việc tại đây: tạo mới, xem danh sách, quản lý công việc.">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-briefcase"></i><span data-i18n="nav.dash.main">Công việc</span></a>
                <ul class="dropdown-menu">
                 
                      <li data-menu=""><a class="dropdown-item" th:href="@{/task/list}" data-toggle="dropdown">Danh sách công việc</a></li>
                      <li data-menu=""><a class="dropdown-item" th:href="@{/task/create-task}" data-toggle="dropdown">Tạo mới công việc</a></li>
                </ul>
            </li>
            
            
            <li th:if="${#request.userPrincipal}" class="dropdown nav-item" data-menu="dropdown" data-step="4" data-intro="Tạo, tìm kiếm và cập nhật đơn hàng tại mục này.">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-docs"></i><span data-i18n="nav.dash.main">Đơn hàng</span></a>
                <ul class="dropdown-menu">
                  <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/orders/new}" data-toggle="dropdown">Tạo mới đơn hàng</a></li>
                  <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/orders/list}" data-toggle="dropdown">Danh sách đơn hàng</a></li>
                  
                  <!-- Chức năng không khác gì Order>List. Cần thay đổi lại -->
				  <!-- <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/orders-datatable-thien}" data-toggle="dropdown">Search</a></li> -->
				 
				  <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/orders/list}" data-toggle="dropdown">Tìm kiếm đơn hàng</a></li>
                  <li class="active" data-menu=""><a class="dropdown-item" href="#" data-toggle="dropdown">Cập nhật trạng thái</a>
                  </li>
                  <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/orders/history}" data-toggle="dropdown">Lịch sử cập nhật</a>
                  </li>
                </ul>
            </li>
            <li th:if="${#request.userPrincipal}" class="dropdown nav-item" data-step="5" data-menu="dropdown">
				<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">
					<i class="icon-bell"></i>
					<span>Thông báo</span>
	        		<span th:if="${taskNotificationCount + customerCareNotificationCount > 0}" class="badge badge-danger"
      						th:text="${taskNotificationCount + customerCareNotificationCount}"></span>
	    		</a>
			    <ul class="dropdown-menu">
			    	<li><strong>🔔 CÔNG VIỆC</strong></li>
			        <li th:each="noti : ${notifications}">
			            <a class="dropdown-item" th:text="${noti}"></a>
			        </li>
			        <li style="margin-top: 10px"><strong>💼 CHĂM SÓC KHÁCH HÀNG </strong></li>
			        <li th:each="noti : ${customerCareNotifications}">
			            <a class="dropdown-item" th:text="${noti}"></a>
			        </li>
			    </ul>
			</li>
            <li th:if="${#request.userPrincipal}" class="dropdown nav-item" data-menu="dropdown" data-step="6" data-intro="Cấu hình loại đơn hàng, loại hàng hóa và trạng thái hàng hóa">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-settings"></i><span data-i18n="nav.dash.main">Cài đặt</span></a>
                   <ul class="dropdown-menu">
                      <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/orders-configuration/status}" data-toggle="dropdown">Cấu hình đơn hàng</a></li>
                      <li data-menu=""><a class="dropdown-item" th:href="@{/orders-configuration/orders}" data-toggle="dropdown">Loại đơn hàng</a></li>
                      <li data-menu=""><a class="dropdown-item" th:href="@{/orders-configuration/status}" data-toggle="dropdown">Trạng thái loại đơn hàng</a></li>
                      <li class="active" data-menu=""><a class="dropdown-item" href="#" data-toggle="dropdown">Chung</a></li>
                  </ul>
            </li>
            <li th:if="${#request.userPrincipal}" class="dropdown nav-item" data-menu="dropdown" data-step="7" data-intro="Danh mục này đang phát triển.">
            	<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-note"></i><span data-i18n="nav.templates.main">Báo cáo</span></a>
                <ul class="dropdown-menu">
                	<li class="active" data-menu=""><a class="dropdown-item" th:href="@{/dashboard}" data-toggle="dropdown">Dashboard</a></li>
					<li class="active" data-menu=""><a class="dropdown-item" href="#" data-toggle="dropdown">Khách hàng</a></li>
					<li class="active" data-menu=""><a class="dropdown-item" href="#" data-toggle="dropdown">Đơn hàng</a></li>
					<li class="active" data-menu=""><a class="dropdown-item" href="#" data-toggle="dropdown">Nhiệm vụ</a></li>
					<li class="active" data-menu=""><a class="dropdown-item" href="#" data-toggle="dropdown">Dự án</a></li>
					<li class="active" data-menu=""><a class="dropdown-item" href="#" data-toggle="dropdown">Sản phẩm</a></li>
                                   <li class="active" data-menu=""><a class="dropdown-item" th:href="@{/contact}" data-toggle="dropdown">Hợp đồng</a></li>

                </ul>
             </li>
             <!-- <li class="dropdown nav-item"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-note"></i><span data-i18n="nav.templates.main">About</span></a> -->
             
            <!--  <li class="dropdown nav-item"><a class="dropdown-toggle nav-link" th:href="'https://myworkspace.vn/cas/login?service=http://localhost:8080/crm-web/j_spring_cas_security_check'" data-toggle="dropdown"><i class="icon-note"></i><span data-i18n="nav.templates.main">LOG IN</span></a> -->
        	 <li class="dropdown nav-item" data-menu="dropdown" data-step="8" data-intro="Hãy đăng nhập tại đây để sử dụng tại khoản">
			   
			        <!-- Kiểm tra trạng thái đăng nhập -->
					<a th:if="${#request.userPrincipal}" style="color: green; font-weight: bold;" href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
				        <i class="icon-user"></i>
				        <span>
				            Chào mừng, <span th:text="${#request.userPrincipal.name}">User</span>
				        </span>
				    </a>
			        
			        <a th:unless="${#request.userPrincipal}" th:href="${session.loginUrl}" class="dropdown-toggle nav-link" data-i18n="nav.templates.main">
				        <i class="icon-login"></i>
				        <span data-i18n="nav.templates.main">Đăng nhập</span>
				    </a>
<!-- 			    <ul class="dropdown-menu"> -->

			        <li th:if="${#request.userPrincipal}" class="dropdown-toggle nav-link" data-i18n="nav.templates.main" data-menu="">
			            <a class="" th:href="@{/logout-handler}">
			                <i class="icon-logout"></i>
			                <span data-i18n="nav.templates.main">Đăng xuất</span>
			            </a>
			        </li>
			   </li>
			   
<!-- 			    <li class="dropdown nav-item" data-menu="dropdown" data-step="7" data-intro="Đăng ký tài khoản"> -->
<!-- 			        <a th:unless="${#request.userPrincipal}" th:href="${session.loginUrl}" class="dropdown-toggle nav-link" data-i18n="nav.templates.main"> -->
<!-- 				        <i class="icon-pencil"></i> -->
<!-- 				        <span data-i18n="nav.templates.main">Đăng ký</span> -->
<!-- 				    </a> -->
<!-- 				</li> -->

			
<!-- 			        Kiểm tra nếu chưa đăng nhập -->
<!-- 			        <li th:unless="${#request.userPrincipal}" data-menu=""> -->
<!-- 			            <a class="dropdown-item" th:href="${session.loginUrl}"> -->
<!-- 			                <i class="icon-login"></i>Đăng nhập -->
<!-- 			            </a> -->
<!-- 			        </li> -->
<!-- 			        <li th:unless="${#request.userPrincipal}" data-menu=""> -->
<!-- 			            <a class="dropdown-item" href="/sign-up"> -->
<!-- 			                <i class="icon-pencil"></i>Đăng ký -->
<!-- 			            </a> -->
<!-- 			        </li> -->
<!-- 			    </ul> -->
			

        </ul>
    </div>
</div>        

         
<!-- <ul class="navIntraTool actionToolbar"> -->
<!--   <li>   -->
<!--     <span title="Đơn hàng"> -->
<!--       <a th:href="@{/orders-configuration/orders}">Đơn hàng</a> -->
<!--     </span> -->
<!--   </li> -->
<!--   <li>  -->
<!--     <span title="Trạng thái"> -->
<!--       <a th:href="@{/orders-configuration/status}">Trạng thái</a> -->
<!--     </span> -->
<!--   </li> -->
<!-- </ul> -->

<script>
  function startTour() {
    introJs().start();
  }
</script>
</html>
