<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="content-wrapper">
		<div class="content-header row">
			<div class="content-header-left col-md-6 col-12 mb-2">
				<div class="content content-orders">
					<a href="#" class="btn-orders orders">Đơn hàng</a> <a href="#"
						class="btn-orders status">Trạng thái</a> <a href="#"
						class="btn-orders configuration">Cấu hình</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>