<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="row">
	   <div class="col-12">
	       <div class="card">
	           <div class="card-header">
	               <h4 class="card-title search-condition">Điều kiện tìm kiếm</h4>
	               <div class="heading-elements">
	                   <ul class="list-inline mb-0">
	                       <li><a data-action="collapse"><i class="fa-solid fa-minus"></i></a></li>
	                       <li><a data-action="reload"><i class="fa-solid fa-rotate"></i></a></li>
	                       <li><a data-action="expand"><i class="fa-solid fa-expand"></i></a></li>
	                       <li><a data-action="close"><i class="fa-solid fa-xmark"></i></a></li>
	                   </ul>
	               </div>
	           </div>
	           <div class="card-content collapse show">
	               <div class="card-body search-condition">
	                   <div class="row">
	                       <div class="col-md-3 col-sm-12">
	                           <fieldset class="text-left customer-option">
	                               <h5 style="font-size: 15px">Khách hàng</h5>
	                               <select class="form-control" id="orderCustomerFilter" style="background-color: white; color: black;">
	                               		<option value="" selected>-- Chọn khách hàng --</option>
	                               		<th:block th:each="customer : ${listCustomers}">
											<option th:value="${customer.id}" th:text="${customer.contactPerson}">
											</option>
										</th:block>
	                               </select>
	                           </fieldset>
	                           <fieldset class="text-left ordercate-option">
	                               <h5 style="font-size: 15px">Loại đơn hàng</h5>
	                               <select class="form-control" id="orderCategoryFilter" style="background-color: white; color: black;" >
						            	<option value="" selected>-- Chọn loại đơn hàng --</option>
						            	<th:block th:each="orderCategory : ${orderCategories}">
								            <option th:value="${orderCategory.id}" th:text="${orderCategory.name}"></option>
								        </th:block>
						            </select>		
	                               <!-- <select id="orderCategorySelect" onchange="loadOrderStatuses_Datatable()" 
	                               		style="background-color: white; color: black; width: 100%;">
									<th:block th:each="orderCategory : ${orderCategories}">
						                <option th:value="${orderCategory.id}" th:text="${orderCategory.name}"
						                        th:selected="${orderCategory.id == selectedCategoryId}"></option>
						            </th:block>
	                               </select> -->
	                           </fieldset>
	                       </div>
	                       
	                       <div class="col-md-3 col-sm-12">
	                        <div id="orderStatusContainer">
	                            <fieldset class="text-left order-status">
	                                <h5 style="font-size: 15px">Trạng thái đơn hàng</h5>
		                                <div id="orderStatusFilter">
		                                
		                                </div>
	                                    <!-- <th:block th:each="orderStatus : ${orderStatuses}">
								            <label>
								                <input type="checkbox" name="orderStatus" th:value="${orderStatus.id}" class="custom-checkbox checkbox-spacing" th:text="${orderStatus.name}"/> 
								            </label><br/>
							        	</th:block> -->
	                            </fieldset>
	                        </div>
	                       </div>
	                      	<div class="col-md-3 col-sm-12" style="text-align: left;">
							    <fieldset class="startdate-option" style="margin-bottom: 10px;">
							        <h5 style="text-align: left; margin-bottom: 5px; font-size: 15px;">Ngày lập</h5>
							        <input class="form-control" type="date" id="orderDate" style="width: auto; padding: 5px; color: black; background-color: white; display: inline-block;">
							    </fieldset>
							    <fieldset class="delidate-option" style="margin-bottom: 10px;">
							        <h5 style="text-align: left; margin-bottom: 5px; font-size: 15px;">Ngày giao</h5>
							        <input class="form-control" type="date" id="deliveryDate" style="width: auto; padding: 5px; color: black; background-color: white; display: inline-block;">
							    </fieldset>
							    <fieldset class="text-right">
							        <!-- <button type="submit" class="search-order" style="margin-top: 10px; display: inline-block;">Tìm</button> -->
							        <div class="input-group">
									  <button type="button" class="btn btn-primary btn-search-orders" data-mdb-ripple-init style="margin-top: 10px; display: inline-block; width: 40%">
									  	<i class="fas fa-search"></i> Tìm 
									  </button>
									</div>
							    </fieldset>
							</div>
	                      	
	                   </div>
	               </div>
	           </div>
	       </div>
	   </div>
	</div>
</body>
</html>