<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="modal fade" id="updateOrderStatusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" inert>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #003a6b">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: white">Cập Nhật Trạng Thái Đơn Hàng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: white" onclick="closeUpdateOrderStatusModal()">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="updateOrderStatusForm">
                        <!-- Mã đơn hàng -->
                        <div class="form-group">
                            <label for="orderId">Mã đơn hàng</label>
                            <input type="text" class="form-control" id="orderCodeUpdateStatus" placeholder="Hiển thị mã đơn hàng" required readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label for="orderId">Loại đơn hàng</label>
                            <select class="form-control" id="orderCategoryUpdateStatus" style="background-color: white; color: black;" readonly="readonly"></select>
                        </div>
                        <!-- Trạng thái đơn hàng -->
                        <div class="form-group">
                            <label for="orderStatus">Trạng thái đơn hàng</label>
                            <select class="form-control" id="orderStatusUpdateStatus" style="background-color: white; color: black;"required>
                               
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer row4">
                    <button type="button" id="">Cập nhật</button>
	        		<button type="button" onclick="closeUpdateOrderStatusModal()">Đóng</button>
                </div>
            </div>
        </div>
    </div>
	<script type="text/javascript" th:src="@{/resources/js/orders/datatable.js}" ></script>
</body>
</html>
